.contacts {
    font-size: 12rem;
    line-height: 18rem;
    @include tablet {
        font-size: 12rem;
        line-height: 22rem;
    }
    @include desktop {
        font-size: 18rem;
        line-height: 32rem;
    }
    @include desktop-large {
        font-size: 26rem;
        line-height: 48rem;
    }

    &_section {
        border-bottom: 1rem dashed #9b9b9b;

        &:last-child {
            border-bottom: none;
        }
    }
    &_row {
        margin: 20rem 0;
        @include tablet {
            display: flex;
            justify-content: space-between;
            margin: 16rem 0 24rem;
        }
        @include desktop {
            margin: 26rem 0 30rem;
        }
        @include desktop-large {
            margin: 30rem 0 40rem;
        }

        &__big-indent {
            @include tablet {
                margin: 20rem 0 40rem;
            }
            @include desktop {
                margin: 40rem 0 60rem;
            }
            @include desktop-large {
                margin: 60rem 0 80rem;
            }
        }
    }
    &_left {
        @include tablet {
            width: 33%;
        }
        @include desktop {
            min-width: 300rem;
        }

        &__long {
            @include tablet {
                width: 65%;
            }
        }
    }
    &_right {
        font-size: 14rem;
        @include tablet {
            width: 63%;
            font-size: 12rem;
            line-height: 22rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 32rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 48rem;
        }
    }
    &_description {
        font-size: 12rem;
        line-height: 18rem;
        margin: 0 0 26rem;
        @include tablet {
            font-size: 12rem;
            line-height: 22rem;
            margin-bottom: 15rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 32rem;
            margin-bottom: 30rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 48rem;
            margin-bottom: 36rem;
        }
    }
    &_link {
        display: inline;

        &::after {
            transform: scaleX(0);
        }
        &:hover {
            color: $color;

            &::after {
                transform: scaleX(1);
            }
        }
    }
    &_title {
        font-weight: bold;
        font-size: 24rem;
        line-height: 36rem;
        display: block;
        text-decoration: none;
        @include tablet {
            font-size: 31rem;
            line-height: 38rem;
        }
        @include desktop {
            font-size: 50rem;
            line-height: 64rem;
        }
        @include desktop-large {
            font-size: 72rem;
            line-height: 90rem;
        }

        &[href] {
            display: inline;
        }
        &::after {
            transform: scaleX(0);
            @include tablet {
                border-bottom-width: 2rem;
            }
            @include desktop {
                border-bottom-width: 3rem;
            }
        }
        &:hover {
            color: $color;

            &::after {
                transform: scaleX(1);
            }
        }

        &__nowrap {
            white-space: nowrap;
        }
    }
    &_subtitle {
        font-weight: bold;
        font-size: 22rem;
        line-height: 30rem;
        @include tablet {
            font-size: 20rem;
            line-height: 28rem;
        }
        @include desktop {
            font-size: 32rem;
            line-height: 42rem;
        }
        @include desktop-large {
            font-size: 42rem;
            line-height: 58rem;
        }
    }
    &_big-text {
        @extend %heading-2;
        font-weight: 400;
    }
    &_buttons {
        @include tablet {
            display: flex;
            align-items: center;
            margin: 0 -8rem;
        }
        @include desktop {
            margin: 0 -16rem;
        }
        @include desktop-large {
            margin: 0 -24rem;
        }
    }
    &_button {
        @include blue-button;
        box-sizing: border-box;
        display: block;
        font-size: 18px;
        line-height: 28px;
        height: 62rem;
        padding: 13rem 20rem 17rem;
        margin: 0 0 34rem;
        text-align: center;
        @include tablet {
            font-size: 11rem;
            line-height: 16rem;
            height: 37rem;
            padding: 9rem 12rem 12rem;
            margin: 0 8rem;
            flex-grow: 1;
            width: 30%;
        }
        @include desktop {
            font-size: 16rem;
            line-height: 18rem;
            padding: 20rem 33rem 24rem;
            margin: 0 16rem;
            height: 60rem;
        }
        @include desktop-large {
            font-size: 20rem;
            line-height: 42rem;
            margin: 0 24rem;
            height: 84rem;
        }

        &::after {
            display: none;
        }
    }
    &_more {
        background: transparent;
        border: none;
        color: $color;
        font-weight: bold;
        font-size: 14rem;
        line-height: 46rem;
        padding: 0 26rem 0 0;
        width: 100%;
        text-align: right;
        margin: 0 0 22rem;
        position: relative;
        @include tablet {
            font-size: 12rem;
            line-height: 28rem;
            margin-bottom: 28rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 28rem;
            padding-right: 48rem;
            margin-bottom: 40rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 28rem;
            padding-right: 66rem;
            margin-bottom: 46rem;
        }

        &:hover {
            background-color: transparent;
            box-shadow: none;
            background-size: 20rem 20rem;
        }
        &:active {
            background-color: transparent;
            box-shadow: none;
        }
    }
    &_more-icon {
        background: url(#{$img}/arrow-down-bold.svg) no-repeat center center;
        position: absolute;
        right: 0;
        top: 50%;
        height: 24rem;
        width: 24rem;
        transform: translateY(-44%);
        transition: .2s ease-in-out transform;
        @include desktop {
            background-size: 16rem 16rem;
        }
        @include desktop-large {
            background-size: 24rem 24rem;
        }

        .contacts_more:hover & {
            transform: translateY(-38%) scale(1.2);
        }
    }
    &_hidden {
        display: none;
    }
    &_working_hours {
        font-size: 14rem;
        line-height: 22rem;
        @include tablet {
            font-size: 12rem;
            line-height: 22rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 32rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 48rem;
        }

        td {
            padding: 0 10rem 0 0;
        }
        td + td {
            padding: 0;
            text-align: right;
        }
    }
    &_working_hours-time {
        font-weight: bold;
        padding-left: 16rem;
        position: relative;
        @include desktop {
            padding-left: 24rem;
        }
        @include desktop-large {
            padding-left: 36rem;
        }

        &::before {
            content: "";
            background-color: currentColor;
            height: 14rem;
            width: 1rem;
            position: absolute;
            left: 4rem;
            top: 3rem;
            transform: rotate(35deg);
            @include tablet {
                top: 1px;
                width: 2rem;
            }
            @include desktop {
                top: 2rem;
                height: 18px;
            }
            @include desktop-large {
                top: 6rem;
                height: 24px;
            }
        }
    }
    &_messenger {
        vertical-align: middle;
        margin: 0 0 0 3rem;
        @include tablet {
            vertical-align: baseline;
            margin-left: 6rem;
        }
        @include desktop {
            height: 32rem;
            margin-left: 10rem;
        }
        @include desktop-large {
            height: 46rem;
            margin-left: 14rem;
        }
    }
}
