.partner {
    display: none;
    background: #68D2DB;
    height: 90rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 110rem;
    font-size: 11rem;
    line-height: 14rem;
    align-items: center;
    padding: 0 16rem;
    text-align: right;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    @include tablet {
        display: flex;
        padding-bottom: 20rem;
    }
    @include desktop {
        height: 112rem;
        left: 19vw;
        margin-left: -2vw;
        padding-right: 3vw;
    }
    @include desktop-large {
        height: 158rem;
        left: 18vw;
        padding-bottom: 48rem;
        padding-right: 5vw;
    }

    &__mobile {
        display: flex;
        position: relative;
        margin: 40rem -16rem 80rem;
        left: auto;
        font-size: 12rem;
        line-height: 18rem;
        background-size: 57rem 49rem;
        text-align: left;
        overflow: hidden;
        @include tablet {
            display: none;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -40rem;
            left: -#{$layout_indent - 16rem};
            right: -#{$layout_indent - 16rem};
            border-top: 1rem solid #9B9B9B;
        }

        img {
            height: 48rem;
        }
    }

    &_title {
        flex-grow: 1;
        flex-shrink: 0;
    }
    &_gallery {
        margin: 0 0 0 16rem;
        @include tablet {
            width: 130rem;
        }
        @include desktop {
            width: 140rem;
        }
    }
}