.search-results {
    &_header {
        background: rgba(227, 227, 227, 0.96);
        padding: 15rem $layout_indent 12rem;
        margin: 0 -#{$layout_indent};
        display: block;
        font-weight: bold;
        font-size: 14rem;
        line-height: 24rem;
        @include tablet {
            margin-top: -16rem;
        }
        @include desktop {
            padding: 42rem 34rem 30rem;
            font-size: 22rem;
            line-height: 40rem;
            margin-top: -26rem;
        }
        @include desktop-large {
            margin-top: -40rem;
        }
    }
    &_title {
        display: block;
        color: #9b9b9b;
        font-weight: bold;
        font-size: 14rem;
        line-height: 30rem;
        padding: 0 14rem 0 12rem;
        position: relative;
        margin: 25rem 0 12rem;
        @include tablet {
            margin-bottom: 32rem;
        }
        @include desktop {
            font-size: 22rem;
            line-height: 30rem;
        }

        &::before {
            content: "";
            background-color: currentColor;
            height: 14rem;
            width: 1rem;
            position: absolute;
            left: 0;
            top: 10rem;
            transform: rotate(35deg);
            @include tablet {
                width: 2rem;
            }
            @include desktop {
                height: 18rem;
                top: 8rem;
            }
        }

        &__small-indent {
            @include tablet {
                margin-bottom: 12rem;
            }
        }
    }
    &_section {
        position: relative;
        padding: 0 0 20rem;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: -$layout_indent;
            right: -$layout_indent;
            border-bottom: 1rem solid #9b9b9b;
        }
        &:last-child::after {
            display: none;
        }
    }
}
