.share {
    border-bottom: 1rem solid #9b9b9b;
    padding: 0 0 40rem;
    margin: 0 0 40rem;
    @include tablet {
        border-bottom: none;
        padding-bottom: 20rem;
    }

    &_title {
        font-size: 14rem;
        line-height: 30rem;
        display: block;
        margin: 0 0 10rem;
        @include tablet {
            font-size: 12rem;
            line-height: 30rem;
            margin-bottom: 4rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 30rem;
            margin-bottom: 14rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 30rem;
            margin-bottom: 28rem;
        }
    }
}
