.switcher {
    display: flex;

    &_button {
        background: transparent;
        box-sizing: border-box;
        color: $color;
        border: 1rem solid #040304;
        font-size: 12rem;
        line-height: 17rem;
        padding: 13rem 12rem 14rem;
        width: 50%;
        text-align: center;
        white-space: nowrap;
        text-decoration-skip-ink: none;
        transition: 0.2s ease-in-out background;
        @include tablet {
            padding: 9rem 12rem 11rem;
            min-width: 120rem;
        }
        @include desktop {
            font-size: 16rem;
            padding: 19rem 20rem 24rem;
        }
        @include desktop-large {
            font-size: 22rem;
            line-height: 17rem;
            padding: 32rem 70rem 36rem;
        }

        &:first-of-type {
            border-right: 0;
        }

        &:hover {
            background: $light_color;
            box-shadow: none;
        }
        &.active,
        &:active {
            background: $light_color;
            text-decoration: underline;
            box-shadow: none;
        }

        &[disabled] {
            pointer-events: none;
            color: #979797;
            background: #E3E3E3;
            opacity: 1;
        }
    }
}
