.banner {
    background: $bright_color;
    color: $light_color;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 13px 15px;
    width: calc(100% - 30px);
    white-space: nowrap;
    overflow: auto;
    margin: 0 0 30px;
    @include desktop {
        margin: 0 0 50px;
    }

    &_bright {
        color: #ffdd00;
        font-weight: bold;
    }
}
