.carousel {
    &_item {
        display: block;
        //background: rgba(#040304, .35);

        &::after {
            display: none;
        }
    }
    &_item-image-wrapper {
        overflow: hidden;
        height: 124rem;
        width: 124rem;
        margin: 0 0 20rem;
        @include tablet {
            height: 64rem;
            width: 64rem;
            margin-bottom: 12rem;
        }
        @include desktop {
            height: 100rem;
            width: 100rem;
            margin-bottom: 16rem;
        }
        @include desktop-large {
            height: 128rem;
            width: 128rem;
            margin-bottom: 16rem;
        }

        &__rounded {
            border-radius: 50%;
            height: 135rem;
            width: 135rem;
            @include tablet {
                height: 64rem;
                width: 64rem;
            }
            @include desktop {
                height: 100rem;
                width: 100rem;
            }
            @include desktop-large {
                height: 128rem;
                width: 128rem;
            }
        }
    }
    &_item-image {
        width: 100%;
        height: 100%;
        max-width: none;
        transform-origin: center center;
        transition: 0.2s ease-in-out transform;

        &:hover {
            transform: scale(1.15);
        }
    }
    &_item-title {
        font-weight: bold;
        font-size: 14rem;
        line-height: 18rem;
        display: block;
        position: relative;
        @include tablet {
            font-size: 11rem;
            line-height: 14rem;
        }
        @include desktop {
            font-size: 14rem;
            line-height: 18rem;
        }
        @include desktop-large {
            font-size: 18rem;
            line-height: 26rem;
        }

        &__decorated {
            &::before {
                content: "";
                background-color: currentColor;
                height: 14rem;
                width: 1rem;
                position: absolute;
                left: -9rem;
                top: 0;
                transform: rotate(35deg);
            }
        }
    }
    &_item-subtitle {
        font-size: 12rem;
        line-height: 16rem;
        font-weight: normal;
        @include desktop-large {
            font-size: 16rem;
            line-height: 22rem;
        }
    }
    &_button {
        border: none;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.2s ease-in-out opacity;
        height: 46rem;
        width: 30rem;
        padding: 0;
        display: none;
        @include tablet {
            display: inline-block;
        }

        &__prev {
            background-image: url(#{$img}/prev.svg);
        }
        &__next {
            background-image: url(#{$img}/next.svg);
        }

        &:hover {
            background-color: transparent;
            opacity: 0.3;
        }
        &:active {
            background-color: transparent;
            opacity: 0.6;
        }
    }
}
