.carousel {
    &_item {
        display: block;
        //background: rgba(#040304, .35);

        &:hover {
            color: $color;
        }
        &::after {
            display: none;
        }
    }
    &_item-image-wrapper {
        overflow: hidden;
        height: 95rem;
        width: 95rem;
        margin: 0 0 20rem;
        @include tablet {
            height: 64rem;
            width: 64rem;
            margin-bottom: 12rem;
        }
        @include desktop {
            height: 100rem;
            width: 100rem;
            margin-bottom: 16rem;
        }
        @include desktop-large {
            height: 128rem;
            width: 128rem;
            margin-bottom: 16rem;
        }

        &__rounded {
            border-radius: 50%;
            height: auto;
            width: 100%;
            @include tablet {
                height: 64rem;
                width: 64rem;
            }
            @include desktop {
                height: 100rem;
                width: 100rem;
            }
            @include desktop-large {
                height: 128rem;
                width: 128rem;
            }
        }
    }
    &_item-image {
        width: 100%;
        height: 100%;
        max-width: none;
        transform-origin: center center;
        transition: 0.2s ease-in-out transform;

        .carousel_item:hover & {
            transform: scale(1.1);
        }
        .carousel_item-image-wrapper__rounded & {
            height: auto;
            border-radius: 50%;
        }
    }
    &_item-title {
        font-weight: bold;
        font-size: 14rem;
        line-height: 18rem;
        display: block;
        position: relative;
        max-height: 50rem;
        @include tablet {
            font-size: 11rem;
            line-height: 14rem;
            max-height: 42rem;
            width: 100%;
        }
        @include desktop {
            font-size: 14rem;
            line-height: 16rem;
            max-height: 54rem;
        }
        @include desktop-large {
            font-size: 20rem;
            line-height: 26rem;
            max-height: 78rem;
        }

        &__decorated {
            @include tablet {
                font-size: 10rem;
                line-height: 13rem;
            }
            @include desktop {
                font-size: 11rem;
                line-height: 14rem;
            }
            @include desktop-large {
                font-size: 16rem;
                line-height: 20rem;
            }
            
            &::before {
                content: "";
                background-color: currentColor;
                height: 14rem;
                width: 1rem;
                position: absolute;
                left: -9rem;
                top: 0;
                transform: rotate(35deg);
                @include desktop {
                    width: 2rem;
                }
                @include desktop-large {
                    top: 2px;
                    height: 18rem;
                    left: -12rem;
                }
            }
        }
    }
    &_item-subtitle {
        color: #4A4A4A;
        font-size: 12rem;
        line-height: 16rem;
        font-weight: normal;
        @include tablet {
            font-size: 10rem;
            line-height: 13rem;
            width: 120%;
        }
        @include desktop {
            font-size: 12rem;
            line-height: 16rem;
        }
        @include desktop-large {
            font-size: 16rem;
            line-height: 22rem;
        }
    }
    &_button {
        border: none;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.2s ease-in-out opacity;
        height: 46rem;
        width: 30rem;
        padding: 0;
        display: none;
        filter: grayscale(1) brightness(.5);
        transition: .2s ease-in-out transform, .2s ease-in-out filter;
        @include tablet {
            display: inline-block;
        }
        @include desktop {
            background-size: 16rem 16rem;
        }
        @include desktop-large {
            background-size: 22rem 22rem;
        }

        &__prev {
            background-image: url(#{$img}/prev.svg);
        }
        &__next {
            background-image: url(#{$img}/next.svg);
        }

        &:hover {
            background-color: transparent;
            //opacity: 0.3;
            box-shadow: none;
            filter: none;
            transform: scale(1.3);
        }
        &:active {
            background-color: transparent;
            //opacity: 0.6;
            box-shadow: none;
            filter: none;
            transform: scale(1.1);
        }
        &:disabled,
        &:disabled:hover,
        &:disabled:active {
            transform: scale(1);
            background-color: transparent;
            filter: grayscale(1) brightness(.5);
        }
    }
}
