.content {
    padding: 10rem $layout_indent;
    position: relative;
    @include tablet {
        padding-left: 128rem;
        padding-top: 16rem;
    }
    @include desktop {
        padding-right: 3vw;
        padding-left: 19vw;
        padding-top: 26rem;
    }
    @include desktop-large {
        padding-right: 5vw;
        padding-left: 18vw;
        padding-top: 40rem;
    }

    &__big-indent {
        @include tablet {
            padding-top: 70rem;
        }
        @include desktop {
            padding-top: 92rem;
        }
        @include desktop-large {
            padding-top: 112rem;
        }
    }

    .accordion-page & {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        border-top: 1px solid #040304;
        @include tablet {
            padding-left: 110rem;
            padding-top: 16rem;
            border: none;
        }
        @include desktop {
            padding-right: 34rem;
            padding-left: 15vw;
            padding-top: 26rem;
        }
        @include media(1366px) {
            padding-left: 16vw;
        }
        @include desktop-large {
            padding-left: 15vw;
            padding-top: 40rem;
            padding-right: 48rem;
        }
    }

    &_title {
        display: block;
        font-size: 17rem;
        line-height: 30rem;
        padding: 0 0 0 15rem;
        position: absolute;
        top: -44rem;
        left: 100rem;
        @include tablet {
            font-weight: bold;
            position: relative;
            font-size: 16rem;
            line-height: 18rem;
            margin: 0 0 16rem;
            padding-left: 14rem;
            top: 0;
            left: 0;
        }
        @include desktop {
            font-size: 24rem;
            line-height: 24rem;
            margin: 0 0 24rem;
            padding-left: 22rem;
        }
        @include desktop-large {
            font-size: 36rem;
            line-height: 24rem;
            margin: 0 0 30rem;
            padding-left: 27rem;
        }

        &::before {
            content: "";
            background-color: currentColor;
            height: 14rem;
            width: 1rem;
            position: absolute;
            left: 5rem;
            top: 10rem;
            transform: rotate(35deg);
            @include tablet {
                top: 2rem;
                width: 2rem;
                height: 17rem;
            }
            @include desktop {
                height: 26rem;
                top: 1rem;
            }
            @include desktop-large {
                height: 32rem;
                width: 3;
                top: 0;
            }
        }

        .accordion-page & { 
            top: -54rem;
            @include tablet {
                top: 0;
                margin-left: 20rem;
            }
            @include desktop {
                margin-left: 34rem;
            }
            @include desktop-large {
                margin-left: 48rem;
            }
        }
    }
}
