.content {
    padding: 20px $layout_indent;
    @include tablet {
        padding-left: 128px;
    }
    @include desktop {
        padding-right: 3vw;
        padding-left: 19vw;
    }
    @include desktop-large {
        padding-right: 5vw;
        padding-left: 18vw;
    }
}