.footer {
    @include tablet {
        margin-left: 110rem;
    }
    @include desktop {
        margin-left: 16vw;
    }
    @include desktop-large {
        margin-left: 15vw;
    }

    &_mobile {
        background: rgba(0, 0, 0, 0.03);
        padding: 16rem $layout_indent 24rem;
        @include tablet {
            display: none;
        }
    }
    &_menu {
        margin: 50rem 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &_menu-link {
        font-size: 14rem;
        line-height: 18rem;
        border: none;
        min-height: 60rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10rem;
        box-sizing: border-box;
        width: 45%;
        text-align: center;
        text-decoration: none;
        margin: 0 0 25rem;
        position: relative;

        &::after {
            display: none;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 1rem solid currentColor;
            transition: .2s ease-in-out all;
        }

        &:hover {
            color: $color;

            &::before {
                left: -6rem;
                right: -6rem;
                top: -6rem;
                bottom: -6rem;
            }
        }

        &__disabled {
            opacity: .2;

            &:hover::after,
            &:hover::before {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
    &_content {
        background: #adadad;
        color: $light_color;
        padding: 32rem $layout_indent 18rem;
        font-size: 11rem;
        line-height: 18rem;
        @include tablet {
            display: block;
            font-size: 10rem;
            line-height: 15rem;
            padding: 20rem 20rem 24rem;
        }
        @include desktop {
            font-size: 11rem;
            line-height: 18rem;
            padding: 26rem 52rem 24rem 20rem;
        }
        @include desktop-large {
            font-size: 11rem;
            line-height: 18rem;
            padding: 46rem 100rem 28rem 50rem;
        }

        a {
            color: $light_color;
            text-decoration: underline;

            &::after {
                content: none;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
    &_columns {
        display: flex;
        justify-content: space-between;
        margin: 0 0 30rem;
    }
    &_column {
        width: 48%;

        &:nth-child(2) {
            @include tablet {
                width: 40%;
            }
        }
        &__flex {
            @include tablet {
                order: 2;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: auto;
            }
            @include desktop-large {
                width: 50%;
            }
        }
    }
    &_logo {
        height: 42rem;
        margin: 0 0 26rem 0;
        @include tablet {
            margin: 0 32rem 0 0;
        }
        @include desktop {
            height: 46rem;
        }
    }
    &_contacts {
        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }
        @include desktop-large {
            width: 55%;
        }
    }
    &_adress {
        margin: 0 0 16rem;
        @include desktop {
            margin: 0 32rem 0 0;
        }

        span {
            display: block;
        }
    }
    &_contacts-button {
        box-sizing: border-box;
        cursor: pointer;
        font-size: 10rem;
        line-height: 18rem;
        padding: 12rem 20rem;
        text-align: center;
        transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color;
        display: inline-block;
        color: $light_color;
        background: transparent;
        border: 1px solid currentColor;
        @include desktop {
            font-size: 11rem;
            line-height: 27rem;
        }

        &:hover {
            background: $light_color;
            color: #ADADAD
        }
        &:active {
            color: $color;
        }

        &::after {
            display: none;
        }
    }
    &_description {
        @include tablet {
            margin: 0 0 28rem;
        }
        @include desktop {
            margin: 0;
        }
    }
    &_documents {

    }
    &_inn {
        display: block;
        margin: 0 0 28rem;
        @include tablet {
            display: inline;
            padding: 0 30rem 0 0;
            margin: 0 30rem 0 0;
            position: relative;
        }

        &::before {
            @include tablet {
                content: "";
                background-color: currentColor;
                height: 14rem;
                width: 1rem;
                position: absolute;
                right: 0;
                top: 0;
                transform: rotate(35deg);
            }
        }
    }
    &_documents-link {
        color: $light_color;
    }
    &_bottom {
        border-top: 1px solid rgba(#fff, .2);
        padding: 22rem 0 0;
        display: flex;
        align-items: center;
        @include tablet {
            padding: 25rem 0 0 18rem;
        }
        @include desktop {
            padding: 15rem 0 0 38rem;
        }
        @include desktop-large {
            padding: 35rem 0 0 72rem;
        }
    }
    &_bottom-image {
        margin: 0 12rem 0 0;
        @include tablet {
            margin-right: 60rem;
        }
        @include desktop {
            margin-right: 90rem;
        }
        @include desktop-large {
            margin-right: 190rem;
        }

        &:last-of-type {
            @include tablet {
                margin-right: 12rem;
            }
            @include desktop {
                margin-right: 56rem;
            }
            @include desktop-large {
                margin-right: 100rem;
            }
        }
    }
    &_outer-link {
        &::after {
            display: none;
        }
    }
}
