%heading-1 {
    font-size: 36rem;
    line-height: 38rem;
    font-weight: bold;
    margin: 40rem 0 20rem;
    @include tablet {
        font-size: 46rem;
        line-height: 46rem;
    }
    @include desktop {
        font-size: 72rem;
        line-height: 70rem;
    }
    @include desktop-large {
        font-size: 100rem;
        line-height: 100rem;
    }
}
%heading-2 {
    font: 18rem $font-family;
    margin: 40rem 0 20rem;
    @include tablet {
        font: 22rem $font-family;
    }
}
%heading-3 {
    font: 16rem $font-family;
    margin: 0;
}

h1,
.heading-1 {
    @extend %heading-1;
}
h2,
.heading-2 {
    @extend %heading-2;
}
h3,
.heading-3 {
    @extend %heading-3;
}
