.header {
    padding: 20rem $layout_indent;
    position: relative;
    transition: .2s ease-in-out background;
    @include tablet {
        position: fixed;
        z-index: 1;
    }

    .fixed-header & {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: rgba(227, 227, 227, 0.96);
        padding-top: 15rem;
        padding-bottom: 15rem;
        @include tablet {
            position: relative;
            background: transparent;
            padding-top: 20rem;
            padding-bottom: 20rem;
        }
    }
}