.header {
    padding: 20rem $layout_indent 20rem 9rem;
    position: relative;
    transition: .2s ease-in-out background;
    @include tablet {
        position: fixed;
        padding: 21rem 14rem;
        z-index: 4;
    }
    @include desktop {
        padding: 35rem 24rem;
    }
    @include desktop-large {
        padding: 50rem 34rem;
    }

    .accordion-page & {
        background-color: $blue_color;
        padding-bottom: 30rem;
        @include tablet {
            background-color: transparent;
            padding-bottom: 20rem;
        }
    }
    .fixed-header & {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(227, 227, 227, 0.96);
        padding-top: 15rem;
        padding-bottom: 15rem;
        z-index: 3;
        @include tablet {
            position: relative;
            background: transparent;
            padding-top: 20rem;
            padding-bottom: 20rem;
        }
    }
}