%heading-1 {
    font-size: 36rem;
    line-height: 38rem;
    font-weight: bold;
    margin: 40rem 0 20rem;
    @include tablet {
        font-size: 46rem;
        line-height: 46rem;
    }
    @include desktop {
        font-size: 72rem;
        line-height: 70rem;
    }
    @include desktop-large {
        font-size: 100rem;
        line-height: 100rem;
    }
}
%heading-2 {
    margin: 25rem 0 15rem;
    font-size: 22rem;
    line-height: 32rem;
    font-weight: bold;
    @include tablet {
        margin: 20rem 0 20rem;
        font-size: 23rem;
        line-height: 34rem;
    }
    @include desktop {
        margin: 33rem 0 13rem;
        font-size: 36rem;
        line-height: 48rem;
    }
    @include desktop-large {
        margin: 50rem 0 30rem;
        font-size: 51rem;
        line-height: 77rem;
    }
}
%heading-3 {
    font: 16rem $font-family;
    margin: 0;
}

h1,
.heading-1 {
    @extend %heading-1;
}
h2,
.heading-2 {
    @extend %heading-2;
}
h3,
.heading-3 {
    @extend %heading-3;
}
