.logo {

    &_image {
        display: block;
        @include tablet {
            width: 66rem;
            height: 89rem;
        }
        @include desktop {
            width: 108rem;
            height: 147rem;
        }
        @include desktop-large {
            width: 149rem;
            height: 202rem;
        }

        
        &__mobile-fixed {
            display: none;

            .fixed-header & {
                display: block;
            }
        }

        .fixed-header & {
            width: 25rem;
            height: 33rem;
            display: none;
        }

    }
}