.menu-toggle {
    background: transparent;
    border: none;
    padding: 6rem;
    margin: 0;
    height: 24rem;
    width: 24rem;
    overflow: visible;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    right: -14rem;
    top: -1rem;
    z-index: 11;
    @include tablet {
        display: none;
    }

    &:hover,
    &:active {
        background: transparent;
        border: none;
        box-shadow: none;
    }

    &::before,
    &::after {
        content: '';
        background: #4A4A4A;
        height: 2rem;
        width: 100%;
        margin: 3rem 0;
        transition: .2s ease-in-out transform;
    }

    &.opened::before {
        transform: rotateZ(45deg) translate(0rem, 5rem);
    }
    &.opened::after {
        transform: rotateZ(-45deg) translate(1rem, -6rem);
    }

    .menu-opened & {
        position: fixed;
        top: 17rem;
        right: 13rem;
    }
    .search-opened & {
        display: none;
    }
}
