.menu {
    position: absolute;
    right: $layout_indent;
    top: 20rem;
    padding: 0 36rem 0 0;
    text-align: right;
    @include tablet {
        position: fixed;
        left: 16rem;
        bottom: 30rem;
        right: auto;
        top: auto;
        text-align: left;
        max-width: 92rem;
    }
    @include desktop {
        left: 24rem;
        max-width: 135rem;
    }
    @include desktop-large {
        left: 34rem;
        bottom: 40rem;
        max-width: 200rem;
    }

    &_content {
        .menu-opened & {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: auto;
            background: $blue_color;
            z-index: 10;
            padding-top: 128rem;
        }
    }
    &_link {
        color: $color;
        font-size: 13rem;
        line-height: 20rem;
        margin: 0 11rem;
        display: none;
        @include tablet {
            display: block;
            font-size: 12rem;
            line-height: 20rem;
            margin: 18rem 0;
        }
        @include desktop {
            font-size: 13rem;
            line-height: 22rem;
            margin: 11rem 0;
        }
        @include desktop-large {
            font-size: 18rem;
            line-height: 22rem;
            margin: 22rem 0;
        }

        &::after {
            @include tablet {
                display: none;
            }
        }

        &__mobile {
            display: inline;
            @include tablet {
                display: block;
            }
        }
        &__indent {
            margin: 38rem 0 30rem;
            @include desktop {
                margin: 27rem 0 34rem;
            }
            @include desktop-large {
                margin: 46rem 0 40rem;
            }
        }

        &:hover {
            color: $color;
        }

        .menu-opened & {
            display: block;
            border: 1px solid transparent;
            font-size: 16rem;
            line-height: 22rem;
            padding: 9rem 20rem 11rem;
            text-align: center;
            margin: -1px 22rem 0;

            &::after {
                display: none;
            }

            &:hover,
            &:active,
            &.active {
                border-color: $light_color;
                color: $color;
            } 
        }
    }
    &_link-text {
        @include tablet {
            transition: .2s ease-in-out border;
            border-bottom: 1px solid transparent;
        }

        .menu_link:hover & {
            border-bottom-color: currentColor;
            color: $color;
        }
    }
    &_social {
        display: none;
        @include tablet {
            display: block;
        }

        .menu-opened & {
            display: block;
            padding: 22rem 0;
        }
    }
    &_search-icon {
        position: absolute;
        top: 17rem;
        left: 19rem;
        height: 16rem;
        width: 14rem;
        background: url(#{$img}/search.svg) no-repeat center center / contain;
        border: none;
        padding: 6rem;
        display: none;
        

        .menu-opened & {
            display: block;
            @include tablet {
                display: none;
            }
        }

        &:hover {
            background-color: transparent;
            box-shadow: none;
        }
    }
    &_logo {
        position: absolute;
        top: 20rem;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        transition: .2s ease-in-out opacity;

        .search-opened & {
            opacity: 0;
        }
        .menu-opened & {
            display: block;
            @include tablet {
                display: none;
            }
        }
    }
}
