.social {
    &_title {
        font-size: 14rem;
        line-height: 46rem;
    }
    &_links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_link {
        display: inline-block;
        height: 50rem;
        width: 50rem;
        background-position: center center;
        background-repeat: no-repeat;
        filter: grayscale(1) brightness(.5);
        transition: .2s ease filter, .2s ease-in-out transform;
        @include tablet {
            background-size: 100% 100%;
        }

        $socials: 'vk', 'fb', 'insta', 'youtube', 'tw';
        @each $s in $socials {
            &__#{$s} {
                background-image: url(#{$img}/social/#{$s}.svg);
            }
        }

        &::after {
            display: none;
        }

        &__vk {
            @include tablet {
                height: 5rem;
                width: 8rem;
            }
            @include desktop {
                height: 6rem;
                width: 12rem;
            }
            @include desktop-large {
                height: 8rem;
                width: 14rem;
            }
        }
        &__fb {
            @include tablet {
                height: 9rem;
                width: 4rem;
            }
            @include desktop {
                height: 13rem;
                width: 6rem;
            }
            @include desktop-large {
                height: 15rem;
                width: 7rem;
            }
        }
        &__insta {
            @include tablet {
                height: 12rem;
                width: 12rem;
            }
            @include desktop {
                height: 16rem;
                width: 16rem;
            }
            @include desktop-large {
                height: 20rem;
                width: 20rem;
            }
        }
        &__youtube {
            @include tablet {
                height: 9rem;
                width: 12rem;
            }
            @include desktop {
                height: 13rem;
                width: 18rem;
            }
            @include desktop-large {
                height: 16rem;
                width: 21rem;
            }
        }
        &__tw {
            @include tablet {
                height: 6rem;
                width: 8rem;
            }
            @include desktop {
                height: 9rem;
                width: 12rem;
            }
            @include desktop-large {
                height: 10rem;
                width: 14rem;
            }
        }

        &:hover {
            filter: none;
            transform: scale(1.2);
        }
    }
}