.tabs {
    &_content {
        display: none;

        &.active {
            display: block;
        }

        &__indent {
            padding-top: 30rem;
            @include desktop {
                padding-top: 35rem;
            }
        }
    }
}