%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Театр на Малой Бронной
        %meta(name="description" content="")/
        %meta(name="keywords" content="")/
        %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
        %meta(name="format-detection" content="telephone=no")/
        %meta(name="HandheldFriendly" content="true")/
        %link(rel="stylesheet" href="style.css")/
    %body
        %header.header 

            %a.logo(href="/")
                %picture.logo_image
                    %source(srcset="src/img/logo-mobile.svg" media="(max-width: 767px)")
                    %img(src="src/img/logo.svg" alt="")
                %img.logo_image__mobile-fixed(src="src/img/logo-mobile-small.svg" alt="")

            %nav.menu
                .menu-toggle

                %a.menu_link.menu_link__mobile(href="/") купить билет
                %a.menu_link.menu_link__mobile(href="/") адреса
                %a.menu_link(href="/afisha.html") афиша
                %a.menu_link(href="/about.html") о театре
                %a.menu_link(href="/events.html") события
                %a.menu_link(href="/press.html") пресса о театре
                %a.menu_link(href="/volunteers.html") клуб волонтеров
                %a.menu_link(href="/partners.html") партнеры театра
                %a.menu_link.menu_link__indent(href="/search.html") поиск

                .menu_social
                    .social
                        .social_links
                            %a.social_link.social_link__vk(href="#")
                            %a.social_link.social_link__fb(href="#")
                            %a.social_link.social_link__insta(href="#")
                            %a.social_link.social_link__youtube(href="#")

        %main.content
            %span.content_title о театре

            .accordion
                .accordion_item
                    .accordion_header(data-tab="1")
                        %span.accordion_header-title адреса
                    .accordion_content

                        .accordion.accordion__secondary
                            .accordion_item
                                .accordion_header(data-tab="adress-1")
                                    %span.accordion_header-title ТКЗ «Дворец на&nbsp;Яузе»
                                .accordion_content
                                    .place
                                        .place_adress
                                            .place_metro Электрозаводская Площадь Журавлева, 1
                                            %button.place_scheme-button посмотреть схему зала
                                        .place_map-holder
                                            %div(style="position:relative;overflow:hidden;")
                                                %a(href="https://yandex.by/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;") Москва
                                                %a(href="https://yandex.by/maps/213/moscow/house/ploshchad_zhuravlyova_10/Z04YcQdkTEYPQFtvfXt5cn5rYg==/?ll=37.704749%2C55.783214&utm_medium=mapframe&utm_source=maps&z=18.2" style="color:#eee;font-size:12px;position:absolute;top:14px;") Площадь Журавлёва, 10 — Яндекс.Карты
                                                %iframe(src="https://yandex.by/map-widget/v1/-/C8sMQWlE" width="560" height="400" frameborder="0" allowfullscreen="true" style="position:relative;")
                                            .place_map-buttons
                                                %button.place_map-button открыть в Google Maps
                                                %button.place_map-button открыть в Яндекс.Картах
                            .accordion_item.accordion_item__closed
                                .accordion_header(data-tab="adress-2")
                                    %span.accordion_header-title Театральный центр  «На&nbsp;Страстном»
                                .accordion_content
                                    .place
                                        .place_adress
                                            .place_metro Электрозаводская Площадь Журавлева, 1
                                            %button.place_scheme-button посмотреть схему зала
                                        .place_map-holder
                                            %div(style="position:relative;overflow:hidden;")
                                                %a(href="https://yandex.by/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;") Москва
                                                %a(href="https://yandex.by/maps/213/moscow/house/ploshchad_zhuravlyova_10/Z04YcQdkTEYPQFtvfXt5cn5rYg==/?ll=37.704749%2C55.783214&utm_medium=mapframe&utm_source=maps&z=18.2" style="color:#eee;font-size:12px;position:absolute;top:14px;") Площадь Журавлёва, 10 — Яндекс.Карты
                                            .place_map-buttons
                                                %button.place_map-button открыть в Google Maps
                                                %button.place_map-button открыть в Яндекс.Картах
                            .accordion_item.accordion_item__disabled
                                .accordion_header(data-tab="adress-3")
                                    %span.accordion_header-title Основная сцена
                                    %span.accordion_header-subtitle открытие 1 сентября 2021 года
                            .accordion_item.accordion_item__disabled
                                .accordion_header(data-tab="adress-3")
                                    %span.accordion_header-title Малая сцена
                                    %span.accordion_header-subtitle открытие 1 сентября 2021 года


                .accordion_item
                    .accordion_header(data-tab="2")
                        %span.accordion_header-title контакты
                    .accordion_content
                        .contacts
                            .contacts_section
                                .contacts_row
                                    .contacts_left
                                    .contacts_right
                                        %p.contacts_description Официальный сайт Государственного бюджетного учреждения культуры города Москвы «Московский драматический театр на Малой Бронной» / ИНН 7703001970
                                        %span электронный адрес
                                .contacts_row
                                    .contacts_left
                                        %a.contacts_title(href="mailto:#mbronnaya@theatre.ru") mbronnaya@theatre.ru
                            .contacts_section
                                .contacts_row
                                    .contacts_left
                                        %span.contacts_title Касса
                                    .contacts_right
                                        %a(href="tel:+7(495)690-40-93").contacts_title +7 (495) 690-40-93
                                        %table.contacts_working_hours
                                            %tbody
                                                %tr
                                                    %td  Открыта ежедневно
                                                    %td  
                                                        %span.contacts_working_hours-time 12:00 – 19:30
                                                %tr
                                                    %td  Перерыв
                                                    %td 
                                                        %span.contacts_working_hours-time 15:00 – 16:00
                            .contacts_section
                                .contacts_row
                                    .contacts_left.contacts_left__long
                                        %span.contacts_title(href="mailto:#mbronnaya@theatre.ru") Заказ, бронирование и доставка билетов
                                .contacts_row
                                    .contacts_left
                                    .contacts_right
                                        %a.contacts_title.contacts_title__nowrap(href="tel:+7(495)690-59-53") +7 (495) 690-59-53
                                        %a.contacts_title.contacts_title__nowrap(href="tel:+7(495)690 43 97") +7 (495) 690 43 97
                                        %a.contacts_title.contacts_title__nowrap(href="tel:+7(905)544-14-21") +7 (905) 544-14-21
                                            %img.contacts_messenger(src="/src/img/whatsapp.svg" alt="")

                            .contacts_section
                                .contacts_row.contacts_row__big-indent
                                    .contacts_left
                                        %span.contacts_subtitle Художественный руководитель
                                    .contacts_right
                                        %span Константин Юрьевич Богомолов
                                        %a.contacts_title(href="mailto:mail@gmail.com") mail@gmail.com
                                .contacts_row.contacts_row__big-indent
                                    .contacts_left
                                        %span.contacts_subtitle Директор
                                    .contacts_right
                                        %span Константин Юрьевич Богомолов
                                        %a.contacts_title(href="mailto:mail@gmail.com") mail@gmail.com
                                .contacts_row.contacts_row__big-indent
                                    .contacts_left
                                        %span.contacts_subtitle Заместитель директора
                                    .contacts_right
                                        %span Ирина Александровна Грачева 
                                        %a.contacts_title(href="tel:690-04-51") 690-04-51 / 1-29
                                .contacts_row.contacts_row__big-indent
                                    .contacts_left
                                        %span.contacts_subtitle Заместитель директора
                                    .contacts_right
                                        %span Лариса Васильевна Гладкая 
                                        %a.contacts_title(href="tel:690-04-51") 690-19-48 / 1-05
                                .contacts_row.contacts_row__big-indent
                                    .contacts_left
                                        %span.contacts_subtitle Заместитель директора
                                    .contacts_right
                                        %span Ирина Александровна Грачева 
                                        %a.contacts_title(href="tel:690-04-51") 690-04-51 / 1-29
                                .contacts_row.contacts_row__big-indent
                                    .contacts_left
                                        %span.contacts_subtitle Заместитель директора
                                    .contacts_right
                                        %span Арина Владимировна Богданчик
                                        %a.contacts_title(href="tel:690-04-51") 690-19-48 / 1-03


                                %button.contacts_more все контакты

                                .contacts_hidden
                                    .contacts_row
                                        .contacts_left
                                            %span.contacts_subtitle Заместитель директора
                                        .contacts_right
                                            %span Лариса Васильевна Гладкая 
                                            %a.contacts_title(href="tel:690-04-51") 690-19-48 / 1-05
                                    .contacts_row
                                        .contacts_left
                                            %span.contacts_subtitle Заместитель директора
                                        .contacts_right
                                            %span Ирина Александровна Грачева 
                                            %a.contacts_title(href="tel:690-04-51") 690-04-51 / 1-29
                                    .contacts_row
                                        .contacts_left
                                            %span.contacts_subtitle Заместитель директора
                                        .contacts_right
                                            %span Арина Владимировна Богданчик
                                            %a.contacts_title(href="tel:690-04-51") 690-19-48 / 1-03

                .accordion_item
                    .accordion_header(data-tab="3")
                        %span.accordion_header-title люди театра
                    .accordion_content
                        .people.people__four
                            .people_items
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова
                                    %span.people_item-subtitle Заслуженный артист РФ
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-2.jpg" alt="")
                                    %span.people_item-title Иван Николаев
                                    %span.people_item-subtitle Заслуженный артист РФ
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова
                                    %span.people_item-subtitle Заслуженный артист РФ
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-2.jpg" alt="")
                                    %span.people_item-title Иван Николаев
                                    %span.people_item-subtitle Заслуженный артист РФ
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова
                                    %span.people_item-subtitle Заслуженный артист РФ
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-2.jpg" alt="")
                                    %span.people_item-title Иван Николаев
                                    %span.people_item-subtitle Заслуженный артист РФ
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова
                                    %span.people_item-subtitle Заслуженный артист РФ
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-2.jpg" alt="")
                                    %span.people_item-title Иван Николаев
                                    %span.people_item-subtitle Заслуженный артист РФ
                            .people_items.event_hided-info
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-2.jpg" alt="")
                                    %span.people_item-title Иван Николаев
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова
                            %a.people(href="#") весь коллектив
                
                .accordion_item
                    .accordion_header(data-tab="4")
                        %span.accordion_header-title история театра
                    .accordion_content
                        .slider.slider__accordion
                            .slider_track
                                .slider_item
                                    %img.slider_image(src="src/img/temp/history-1.jpg" alt="")
                                .slider_item
                                    %img.slider_image(src="src/img/temp/history-2.jpg" alt="")
                                .slider_item
                                    %img.slider_image(src="src/img/temp/history-1.jpg" alt="")
                                .slider_item
                                    %img.slider_image(src="src/img/temp/history-2.jpg" alt="")
                        
                        %h2.contacts_big-text В 1945 году на театральной карте столицы появился новый творческий коллектив — московский драматический театр, который возглавил режиссер Cергей Майоров. 
                        .contacts
                            .contacts_row
                                .contacts_left
                                .contacts_right
                                    %p Основу новой труппы составили актеры разных московских театров и несколько выпускников театрального училища им. М. С. Щепкина. Театру было предоставлено здание на Спартаковской улице, 26, рядом со станцией метро «Бауманская». Репетиции шли параллельно с реконструкцией здания театра, двери которого открылись для зрителей 9 марта 1946 года, когда был показан первый спектакль («Золотой обруч», пьеса М. Козакова и А. Мариенгофа).
                                    %button.contacts_more читать все
                                    .contacts_hidden
                                        %p Основу новой труппы составили актеры разных московских театров и несколько выпускников театрального училища им. М. С. Щепкина. Театру было предоставлено здание на Спартаковской улице, 26, рядом со станцией метро «Бауманская». Репетиции шли параллельно с реконструкцией здания театра, двери которого открылись для зрителей 9 марта 1946 года, когда был показан первый спектакль («Золотой обруч», пьеса М. Козакова и А. Мариенгофа).
                            .contacts_buttons
                                %a.contacts_button(href="#") архив спектаклей
                                %a.contacts_button(href="#") легенды театра
                                %a.contacts_button(href="#") музей
                        

        %footer.footer
            .footer_mobile
                .social
                    %span.social_title подписывайтесь на нас в соцсетях
                    .social_links
                        %a.social_link.social_link__vk(href="#")
                        %a.social_link.social_link__fb(href="#")
                        %a.social_link.social_link__insta(href="#")
                        %a.social_link.social_link__youtube(href="#")
                        %a.social_link.social_link__tw(href="#")
                .footer_menu
                    %a.footer_menu-link(href="afisha.html") афиша
                    %a.footer_menu-link(href="/about.html") адреса
                    %a.footer_menu-link(href="#") купить билет
                    %a.footer_menu-link(href="#") схема зала
                    %a.footer_menu-link(href="#") фотобанк
                    %a.footer_menu-link(href="volunteers.html") клуб волонтеров
                    %a.footer_menu-link(href="/partners.html") партнеры театра
                    %a.footer_menu-link(href="#") контакты
            .footer_content
                .footer_columns
                    .footer_column.footer_column__flex
                        %img.footer_logo(src="src/img/dkm.svg" alt="")
                        %div.footer_contacts
                            .footer_adress
                                %span Москва 
                                %span Малая Бронная, 4
                                %a(href="mailto:mbronnaya@theatre.ru") mbronnaya@theatre.ru
                            %a.footer_contacts-button все контакты
                    .footer_column
                        %p.footer_description Официальный сайт Государственного бюджетного учреждения культуры города Москвы  «Московский драматический театр на Малой Бронной» 
                        .footer_documents
                            %span.footer_inn ИНН 7703001970
                            %a.footer_documents-link Документы
                .footer_bottom
                    %img.footer_bottom-image(src="src/img/bank-of-vacancies.jpg" alt="")
                    %img.footer_bottom-image(src="src/img/active-citizen.jpg" alt="")
                    %img.footer_bottom-image(src="src/img/year-of-theatre.jpg" alt="")
                    %a.footer_outer-link(href="#") mos.ru



        %script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5642faf671d1921e" async="async")
        %script(src="src/js/tiny-slider.min.js")
        %script(src="src/js/main.js")
        %script(src="src/js/about.js")
                                


