%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Театр на Малой Бронной
        %meta(name="description" content="")/
        %meta(name="keywords" content="")/
        %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
        %meta(name="format-detection" content="telephone=no")/
        %meta(name="HandheldFriendly" content="true")/
        %link(rel="stylesheet" href="style.css")/
    %body
        %header.header 

            %a.logo(href="/")
                %picture.logo_image
                    %source(srcset="src/img/logo-mobile.svg" media="(max-width: 767px)")
                    %img(src="src/img/logo.svg" alt="")
                %img.logo_image__mobile-fixed(src="src/img/logo-mobile-small.svg" alt="")

            %nav.menu
                .menu-toggle

                %a.menu_link.menu_link__mobile(href="/") купить билет
                %a.menu_link.menu_link__mobile(href="/") адреса
                %a.menu_link(href="/afisha.html") афиша
                %a.menu_link(href="/about.html") о театре
                %a.menu_link(href="/events.html") события
                %a.menu_link(href="/press.html") пресса о театре
                %a.menu_link(href="/volunteers.html") клуб волонтеров
                %a.menu_link(href="/partners.html") партнеры театра
                %a.menu_link.menu_link__indent(href="/search.html") поиск

                .menu_social
                    .social
                        .social_links
                            %a.social_link.social_link__vk(href="#")
                            %a.social_link.social_link__fb(href="#")
                            %a.social_link.social_link__insta(href="#")
                            %a.social_link.social_link__youtube(href="#")

        %main.content
            %span.content_title афиша

            .filters
                .filters_mode
                    .switcher
                        %button.switcher_button.active(data-tab-link="1") по дням
                        %button.switcher_button(data-tab-link="2") по спектаклям
                .filters_controls
                    %button.filters_control.filters_control__mobile
                        %img.filters_control-icon(src="src/img/search.svg" alt="")
                        %span.filters_control-text поиск
                    %button.filters_control.filters_control__active
                        %img.filters_control-icon(src="src/img/filters.svg" alt="")
                        %span.filters_control-text фильтры
                    %button.filters_control
                        %img.filters_control-icon(src="src/img/calendar.svg" alt="")
                        %span.filters_control-text календарь
            
            
            .tabs
                .tabs_content.tabs_content__indent(data-tab="2")
                    .spectacles
                        .spectacle.spectacle__alternate
                            .spectacle_image-wrapper
                                .spectacle_tags
                                    %a.spectacle_tag.spectacle_tag__bright(href="/") премьера
                                %img.spectacle_image(src="src/img/temp/spectacle-2.jpg" alt="")
                            .spectacle_header
                                %h2.spectacle_title Ревизор
                                %p.spectacle_description сцены из романа Льва Толстого «Война и мир»
                            .spectacle_info
                                %a.spectacle_adress(href="#") Центр «На Страстном»
                                .spectacle_creators
                                    %span.spectacle_creators-line Автор: Леонид Зорин
                                    %span.spectacle_creators-line Режиссёр: Сергей Голомазов
                                    %span.spectacle_creators-line В ролях: Юлия Пересильд, Даниил Страхов
                                    .spectacle_info-rating 16+
                            .spectacle_bottom
                                .spectacle_bottom-info
                                    %span.spectacle_bottom-date сегодня, 23 сентября, 20:00
                                    %span.spectacle_bottom-date завтра, 2 октября, 20:00
                                    %a.spectacle_more-info(href="/") подробнее
                                %button.spectacle_button купить билет

                        .spectacle.spectacle__alternate
                            .spectacle_image-wrapper
                                .spectacle_tags
                                    %a.spectacle_tag(href="/") детский
                                %img.spectacle_image(src="src/img/temp/spectacle-2.jpg" alt="")
                            .spectacle_header 
                                %h2.spectacle_title Подлинная история Фрекен Бок. Подлинная история Фрекен Бок
                                %p.spectacle_description Сказка по мотивам повести  Оскара Уайльда
                            .spectacle_info
                                %a.spectacle_adress(href="#") Центр «На Страстном»
                                .spectacle_creators
                                    %span.spectacle_creators-line Автор: Леонид Зорин
                                    %span.spectacle_creators-line Режиссёр: Сергей Голомазов
                                    %span.spectacle_creators-line В ролях: Юлия Пересильд, Даниил Страхов
                                    .spectacle_info-rating 16+
                            .spectacle_bottom
                                .spectacle_bottom-info
                                    %span.spectacle_bottom-date сегодня, 23 сентября, 20:00
                                    %span.spectacle_bottom-date завтра, 2 октября, 20:00
                                    %a.spectacle_more-info(href="/") подробнее
                                %button.spectacle_button купить билет
                                    
                        .spectacle.spectacle__alternate
                            .spectacle_image-wrapper
                                .spectacle_tags
                                    %a.spectacle_tag(href="/") детский
                                %img.spectacle_image(src="src/img/temp/spectacle-2.jpg" alt="")
                            .spectacle_header
                                %h2.spectacle_title Макбет
                                %p.spectacle_description сцены из романа Льва Толстого «Война и мир»
                            .spectacle_info
                                %a.spectacle_adress(href="#") Центр «На Страстном»
                                .spectacle_creators
                                    %span.spectacle_creators-line Автор: Леонид Зорин
                                    %span.spectacle_creators-line Режиссёр: Сергей Голомазов
                                    %span.spectacle_creators-line В ролях: Юлия Пересильд, Даниил Страхов
                                    .spectacle_info-rating 16+
                            .spectacle_bottom
                                .spectacle_bottom-info
                                    %span.spectacle_bottom-date сегодня, 23 сентября, 20:00
                                    %span.spectacle_bottom-date завтра, 2 октября, 20:00
                                    %a.spectacle_more-info(href="/") подробнее
                                %button.spectacle_button купить билет

                .tabs_content.active(data-tab="1")
                    .spectacle-date.spectacle-date__today
                        %span сегодня, 21 сентября
                            %span воскресенье
                    .spectacles.spectacles__line
                        .spectacle.spectacle__line
                            .spectacle_image-wrapper
                                %img.spectacle_image(src="src/img/temp/spectacle-rect-1.jpg" alt="")
                            .spectacle_content
                                .spectacle_content-column
                                    .spectacle_tags
                                        %a.spectacle_tag.spectacle_tag__bright(href="/") премьера
                                        %a.spectacle_tag(href="/") детский
                                    .spectacle_header
                                        %h2.spectacle_title Ревизор
                                    .spectacle_info
                                        %span.spectacle_duration 2 часа 30 мин. с антрактом
                                        %a.spectacle_adress(href="#") Центр «На Страстном»
                                        .spectacle_info-rating 16+
                                .spectacle_bottom
                                    .spectacle_bottom-info
                                        %span.spectacle_bottom-date 20:00
                                        %a.spectacle_more-info(href="/") подробнее
                                    %button.spectacle_button купить билет
                        .spectacle.spectacle__line
                            .spectacle_image-wrapper
                                %img.spectacle_image(src="src/img/temp/spectacle-rect-3.jpg" alt="")
                            .spectacle_content
                                .spectacle_content-column
                                    .spectacle_header
                                        %h2.spectacle_title Подлинная история Фрекен Бок
                                    .spectacle_info
                                        %span.spectacle_duration 2 часа 30 мин. с антрактом
                                        %a.spectacle_adress(href="#") Центр «На Страстном»
                                        .spectacle_info-rating 16+
                                .spectacle_bottom
                                    .spectacle_bottom-info
                                        %span.spectacle_bottom-date 20:00
                                        %a.spectacle_more-info(href="/") подробнее
                                    %button.spectacle_button купить билет
                        .spectacle.spectacle__line
                            .spectacle_image-wrapper
                                %img.spectacle_image(src="src/img/temp/spectacle-rect-3.jpg" alt="")
                            .spectacle_content
                                .spectacle_content-column
                                    .spectacle_header
                                        %h2.spectacle_title Кентервильское привидение
                                    .spectacle_info
                                        %span.spectacle_duration 2 часа 30 мин. с антрактом
                                        %a.spectacle_adress(href="#") Центр «На Страстном»
                                        .spectacle_info-rating 16+
                                .spectacle_bottom
                                    .spectacle_bottom-info
                                        %span.spectacle_bottom-date 20:00
                                        %a.spectacle_more-info(href="/") подробнее
                                    %button.spectacle_button купить билет
                                
                    .spectacle-date
                        %span завтра, 22 сентября, понедельник

                    .spectacles.spectacles__line
                        .spectacle.spectacle__line
                            .spectacle_image-wrapper
                                %img.spectacle_image(src="src/img/temp/spectacle-rect-1.jpg" alt="")
                            .spectacle_content
                                .spectacle_content-column
                                    .spectacle_tags
                                        %a.spectacle_tag.spectacle_tag__bright(href="/") премьера
                                        %a.spectacle_tag(href="/") детский
                                    .spectacle_header
                                        %h2.spectacle_title Ревизор
                                    .spectacle_info
                                        %span.spectacle_duration 2 часа 30 мин. с антрактом
                                        %a.spectacle_adress(href="#") Центр «На Страстном»
                                        .spectacle_info-rating 16+
                                .spectacle_bottom
                                    .spectacle_bottom-info
                                        %span.spectacle_bottom-date 20:00
                                        %a.spectacle_more-info(href="/") подробнее
                                    %button.spectacle_button купить билет
                        .spectacle.spectacle__line
                            .spectacle_image-wrapper
                                %img.spectacle_image(src="src/img/temp/spectacle-rect-3.jpg" alt="")
                            .spectacle_content
                                .spectacle_content-column
                                    .spectacle_header
                                        %h2.spectacle_title Подлинная история Фрекен Бок
                                    .spectacle_info
                                        %span.spectacle_duration 2 часа 30 мин. с антрактом
                                        %a.spectacle_adress(href="#") Центр «На Страстном»
                                        .spectacle_info-rating 16+
                                .spectacle_bottom
                                    .spectacle_bottom-info
                                        %span.spectacle_bottom-date 20:00
                                        %a.spectacle_more-info(href="/") подробнее
                                    %button.spectacle_button купить билет
                        .spectacle.spectacle__line
                            .spectacle_image-wrapper
                                %img.spectacle_image(src="src/img/temp/spectacle-rect-3.jpg" alt="")
                            .spectacle_content
                                .spectacle_content-column
                                    .spectacle_header
                                        %h2.spectacle_title Кентервильское привидение
                                    .spectacle_info
                                        %span.spectacle_duration 2 часа 30 мин. с антрактом
                                        %a.spectacle_adress(href="#") Центр «На Страстном»
                                        .spectacle_info-rating 16+
                                .spectacle_bottom
                                    .spectacle_bottom-info
                                        %span.spectacle_bottom-date 20:00
                                        %a.spectacle_more-info(href="/") подробнее
                                    %button.spectacle_button купить билет


        %footer.footer
            .footer_mobile
                .social
                    %span.social_title следите за нами в соцсетях
                    .social_links
                        %a.social_link.social_link__vk(href="#")
                        %a.social_link.social_link__fb(href="#")
                        %a.social_link.social_link__insta(href="#")
                        %a.social_link.social_link__youtube(href="#")
                        
                .footer_menu
                    %a.footer_menu-link(href="afisha.html") афиша
                    %a.footer_menu-link(href="/about.html") адреса
                    %a.footer_menu-link(href="#") купить билет
                    %a.footer_menu-link(href="#") схема зала
                    %a.footer_menu-link(href="#") фотобанк
                    %a.footer_menu-link(href="volunteers.html") клуб волонтеров
                    %a.footer_menu-link(href="/partners.html") партнеры театра
                    %a.footer_menu-link(href="#") контакты
            .footer_content
                .footer_columns
                    .footer_column.footer_column__flex
                        %img.footer_logo(src="src/img/dkm.svg" alt="")
                        %div.footer_contacts
                            .footer_adress
                                %span Москва 
                                %span Малая Бронная, 4
                                %a(href="mailto:mbronnaya@theatre.ru") mbronnaya@theatre.ru
                            %a.footer_contacts-button все контакты
                    .footer_column
                        %p.footer_description Официальный сайт Государственного бюджетного учреждения культуры города Москвы  «Московский драматический театр на Малой Бронной» 
                        .footer_documents
                            %span.footer_inn ИНН 7703001970
                            %a.footer_documents-link Документы
                .footer_bottom
                    %img.footer_bottom-image(src="src/img/bank-of-vacancies.jpg" alt="")
                    %img.footer_bottom-image(src="src/img/active-citizen.jpg" alt="")
                    %img.footer_bottom-image(src="src/img/year-of-theatre.jpg" alt="")
                    %a.footer_outer-link(href="#") mos.ru



        %script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5642faf671d1921e" async="async")
        %script(src="src/js/tiny-slider.min.js")
        %script(src="src/js/main.js")
        %script(src="src/js/about.js")
                                


