%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Театр на Малой Бронной
        %meta(name="description" content="")/
        %meta(name="keywords" content="")/
        %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
        %meta(name="format-detection" content="telephone=no")/
        %meta(name="HandheldFriendly" content="true")/
        %link(rel="stylesheet" href="style.css")/
    %body
        %header.header 

            %a.logo(href="/")
                %picture.logo_image
                    %source(srcset="src/img/logo-mobile.svg" media="(max-width: 767px)")
                    %img(src="src/img/logo.svg" alt="")
                %img.logo_image__mobile-fixed(src="src/img/logo-mobile-small.svg" alt="")

            %nav.menu
                .menu-toggle

                .menu_content
                    %button.menu_search-icon
                    %img.menu_logo(src="src/img/logo-mobile-menu.svg" alt="")

                    .search
                        .search_close(id="search-close")
                        .search_fade
                        .search_content
                            %input.search_input(type="search" placeholder="поиск" required="true")
                            .search_results
                                %a.search_result(href="spectacle.html") макбет
                                %a.search_result(href="spectacle.html") леди макбет
                                %a.search_result(href="spectacle.html") макбет трагедия

                    %a.menu_link.menu_link__mobile(href="/")
                        %span.menu_link-text купить билет
                    %a.menu_link.menu_link__mobile(href="/")
                        %span.menu_link-text адреса
                    %a.menu_link.active(href="/afisha.html")
                        %span.menu_link-text афиша
                    %a.menu_link(href="/about.html")
                        %span.menu_link-text о театре
                    %a.menu_link(href="/events.html")
                        %span.menu_link-text события
                    %a.menu_link(href="/press.html")
                        %span.menu_link-text пресса о театре
                    %a.menu_link(href="/volunteers.html")
                        %span.menu_link-text клуб волонтеров
                    %a.menu_link(href="/partners.html")
                        %span.menu_link-text партнеры театра
                    %a.menu_link.menu_link__indent(href="/search.html")
                        %span.menu_link-text поиск

                    .menu_social
                        .social.social__header
                            .social_links
                                %a.social_link.social_link__vk(href="#")
                                %a.social_link.social_link__fb(href="#")
                                %a.social_link.social_link__insta(href="#")
                                %a.social_link.social_link__youtube(href="#")

        %main.content
            %span.content_title люди театра

            %article.person
                %img.person_image(src="/src/img//temp/person.jpg")
                .person_content
                    %h1.person_title Александр Николаев
                    .person_subtitle Заслуженный артист РФ
                    .person_text
                        %p Леонид Генрихович автор более 50-ти пьес, поставленных и опубликованных на родине и за рубежом, среди них "Варшавская мелодия" (1966 года).Трогательная история любви в послевоенной Москве восхищает не первое поколение зрителей.
                        %p Спектакль уже десять лет идёт на сцене Театра на Малой Бронной. На этой же сцене в этом сезоне обретёт новое дыхание одна из самых известных пьес драматурга "Покровские ворота".
                

            .spectacles-title играет в спектаклях
            .spectacles.spectacles__without-dividers
                .spectacle
                    %a.spectacle_image-wrapper(href="spectacle.html")
                        %img.spectacle_image(src="src/img/temp/spectacle-2.jpg" alt="")
                        %span.spectacle_date 6 февраля
                    %a.spectacle_header(href="spectacle.html")
                        %h2.spectacle_title
                            %span.spectacle_title-text Ревизор
                        %p.spectacle_description сцены из романа Льва Толстого «Война и мир»
                .spectacle
                    %a.spectacle_image-wrapper(href="spectacle.html")
                        %img.spectacle_image(src="src/img/temp/spectacle-2.jpg" alt="")
                        %span.spectacle_date 7 февраля
                    %a.spectacle_header(href="spectacle.html") 
                        %h2.spectacle_title
                            %span.spectacle_title-text Подлинная история Фрекен Бок. Подлинная история Фрекен Бок
                        %p.spectacle_description Сказка по мотивам повести  Оскара Уайльда
                .spectacle
                    %a.spectacle_image-wrapper(href="spectacle.html")
                        %img.spectacle_image(src="src/img/temp/spectacle-2.jpg" alt="")
                        %span.spectacle_date 6 февраля
                    %a.spectacle_header(href="spectacle.html")
                        %h2.spectacle_title 
                            %span.spectacle_title-text Макбет
                        %p.spectacle_description сцены из романа Льва Толстого «Война и мир»

            .widget.carousel
                .widget_header
                    %span.widget_title другие события
                    .widget_controls
                        .carousel_controls
                            %button.carousel_button.carousel_button__prev
                            %button.carousel_button.carousel_button__next
                        %a.widget_link(href="#") читать все

                .carousel_track
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-1.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated ПЕРЕЕЗД В ТКЗ «Дворец на Яузе»
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-2.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated Лица победы
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-3.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated ПЕРЕЕЗД В ТКЗ «Дворец на Яузе»
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-4.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated Лица победы
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-5.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated ПЕРЕЕЗД В ТКЗ «Дворец на Яузе»
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-6.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated Лица победы
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-7.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated ПЕРЕЕЗД В ТКЗ «Дворец на Яузе»
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-5.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated Лица победы
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-1.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated ПЕРЕЕЗД В ТКЗ «Дворец на Яузе»
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-2.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated Лица победы
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-3.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated ПЕРЕЕЗД В ТКЗ «Дворец на Яузе»
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-4.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated Лица победы
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-5.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated ПЕРЕЕЗД В ТКЗ «Дворец на Яузе»
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-6.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated Лица победы
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-7.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated ПЕРЕЕЗД В ТКЗ «Дворец на Яузе»
                    %a.carousel_item(href="#")
                        .carousel_item-image-wrapper
                            %img.carousel_item-image(src="src/img/temp/news-5.jpg" alt="")
                        %span.carousel_item-title.carousel_item-title__decorated Лица победы


        %footer.footer
            .footer_mobile
                .social
                    %span.social_title следите за нами в соцсетях
                    .social_links
                        %a.social_link.social_link__vk(href="#")
                        %a.social_link.social_link__fb(href="#")
                        %a.social_link.social_link__insta(href="#")
                        %a.social_link.social_link__youtube(href="#")
                        
                .footer_menu
                    %a.footer_menu-link(href="afisha.html") афиша
                    %a.footer_menu-link(href="/about.html") адреса
                    %a.footer_menu-link(href="#") купить билет
                    %a.footer_menu-link(href="#") схема зала
                    %span.footer_menu-link.footer_menu-link__disabled фотобанк
                    %a.footer_menu-link(href="volunteers.html") клуб волонтеров
                    %a.footer_menu-link(href="/partners.html") партнеры театра
                    %a.footer_menu-link(href="#") контакты
            .footer_content
                .footer_columns
                    .footer_column.footer_column__flex
                        %img.footer_logo(src="src/img/dkm.svg" alt="")
                        %div.footer_contacts
                            .footer_adress
                                %span Москва 
                                %span Малая Бронная, 4
                                %a(href="mailto:mbronnaya@theatre.ru") mbronnaya@theatre.ru
                            %a.footer_contacts-button все контакты
                    .footer_column
                        %p.footer_description Официальный сайт Государственного бюджетного учреждения культуры города Москвы  «Московский драматический театр на Малой Бронной» 
                        .footer_documents
                            %span.footer_inn ИНН 7703001970
                            %a.footer_documents-link(href="#") Документы
                .footer_bottom
                    %img.footer_bottom-image(src="src/img/bank-of-vacancies.jpg" alt="")
                    %img.footer_bottom-image(src="src/img/active-citizen.jpg" alt="")
                    %img.footer_bottom-image(src="src/img/year-of-theatre.jpg" alt="")
                    %a.footer_outer-link(href="#") mos.ru



        %script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5642faf671d1921e" async="async")
        %script(src="src/js/tiny-slider.min.js")
        %script(src="src/js/main.js")
        %script(src="src/js/about.js")
                                


