%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Театр на Малой Бронной
        %meta(name="description" content="")/
        %meta(name="keywords" content="")/
        %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
        %meta(name="format-detection" content="telephone=no")/
        %meta(name="HandheldFriendly" content="true")/
        %link(rel="stylesheet" href="style.css")/
    %body
        %header.header 

            %a.logo(href="/")
                %picture.logo_image
                    %source(srcset="src/img/logo-mobile.svg" media="(max-width: 767px)")
                    %img(src="src/img/logo.svg" alt="")
                %img.logo_image__mobile-fixed(src="src/img/logo-mobile-small.svg" alt="")

            %nav.menu
                .menu-toggle

                .menu_content
                    %button.menu_search-icon
                    %img.menu_logo(src="src/img/logo-mobile-menu.svg" alt="")

                    .search
                        .search_close(id="search-close")
                        .search_fade
                        .search_content
                            %input.search_input(type="search" placeholder="поиск" required="true")
                            .search_results
                                %a.search_result(href="spectacle.html") макбет
                                %a.search_result(href="spectacle.html") леди макбет
                                %a.search_result(href="spectacle.html") макбет трагедия


                    %a.menu_link.menu_link__mobile(href="/")
                        %span.menu_link-text купить билет
                    %a.menu_link.menu_link__mobile(href="/")
                        %span.menu_link-text адреса
                    %a.menu_link.active(href="/afisha.html")
                        %span.menu_link-text афиша
                    %a.menu_link(href="/about.html")
                        %span.menu_link-text о театре
                    %a.menu_link(href="/events.html")
                        %span.menu_link-text события
                    %a.menu_link(href="/press.html")
                        %span.menu_link-text пресса о театре
                    %a.menu_link(href="/volunteers.html")
                        %span.menu_link-text клуб волонтеров
                    %a.menu_link(href="/partners.html")
                        %span.menu_link-text партнеры театра
                    %a.menu_link.menu_link__indent(href="/search.html")
                        %span.menu_link-text поиск

                    .menu_social
                        .social.social__header
                            .social_links
                                %a.social_link.social_link__vk(href="#")
                                %a.social_link.social_link__fb(href="#")
                                %a.social_link.social_link__insta(href="#")
                                %a.social_link.social_link__youtube(href="#")

        %main.content
            %span.content_title афиша

            .event
                .event_slider-wrapper
                    .event_tags
                        %a.event_tag.event_tag__bright(href="/") премьера
                        %a.event_tag(href="/") детский
                    .slider(id="slider")
                        .slider_counter
                        .slider_track
                            .slider_item
                                %img.slider_image(src="src/img/temp/event-1.jpg" alt="")
                            .slider_item
                                %img.slider_image(src="src/img/temp/event-1.jpg" alt="")
                            .slider_item
                                %img.slider_image(src="src/img/temp/event-1.jpg" alt="")
                            .slider_item
                                %img.slider_image(src="src/img/temp/event-1.jpg" alt="")
                        

                .event_header
                    %h1.event_title Кентервильское привидение
                    %p.event_subtitle Сказка по мотивам повести Оскара Уайльда

                .event_content
                    .event_main-info
                        .event_info
                            .event_info-column
                                %span.event_duration 2 часа 30 минут с антрактом
                            .event_info-column
                                %span.event_adress
                                    %a.event_adress-link(href="#") ТКЗ «Дворец на&nbsp;Яузе»
                            .event_rating 12+
                        %table.event_meta
                            %tbody
                                %tr
                                    %td Официальная премьера
                                    %td 5 февраля 2017
                                %tr
                                    %td Автор
                                    %td Федор Достоевский
                                %tr
                                    %td Режиссер
                                    %td 
                                        %a(href="#") Геннадий Сайфулин
                            %tbody.event_hided-info
                                %tr
                                    %td Автор
                                    %td Федор Достоевский
                                %tr
                                    %td Режиссер
                                    %td 
                                        %a(href="#") Геннадий Сайфулин

                        .people
                            %span.people_title В спектакле заняты
                            .people_items
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-2.jpg" alt="")
                                    %span.people_item-title Иван Николаев
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-2.jpg" alt="")
                                    %span.people_item-title Иван Николаев
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-2.jpg" alt="")
                                    %span.people_item-title Иван Николаев
                            .people_items.event_hided-info
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-2.jpg" alt="")
                                    %span.people_item-title Иван Николаев
                                %a.people_item(href="/person.html")
                                    %img.people_item-image(src="src/img/temp/people-1.jpg" alt="")
                                    %span.people_item-title Марья Иванова

                        
                        
                        %button.event_info-more весь коллектив и исполнители
                            .event_info-more-arrow

                    .event_tickets
                        .tickets
                            %table
                                %tbody
                                    %tr
                                        %td
                                            %span.tickets_title сегодня, 
                                                %span 30 сентября 
                                                %span.tickets_time 19:00
                                            %span.tickets_price от 2500₽
                                        %td 
                                            %span.tickets_unavailible билетов нет
                                    %tr
                                        %td
                                            %span.tickets_title завтра,
                                                %span 1 октября 
                                                %span.tickets_time 20:00
                                            %span.tickets_price от 2500₽
                                        %td 
                                            %button.tickets_button купить
                                    %tr
                                        %td
                                            %span.tickets_title 
                                                %span 3 октября
                                                %span.tickets_time 19:00
                                            %span.tickets_price от 2500₽
                                        %td 
                                            %button.tickets_button купить
                                    %tr.tickets_hided-row
                                        %td
                                            %span.tickets_title 
                                                %span 3 октября
                                                %span.tickets_time 19:00
                                            %span.tickets_price от 2500₽
                                        %td 
                                            %button.tickets_button купить
                            %button.tickets_more все даты
                                .tickets_more-arrow
                    
                    .event_description
                        %p В одном небольшом испанском городке при театре работает фирма «Ариэль». Сотрудники фирмы занимаются необычным делом: они доставляют людям на дом... счастье! В этом же городе живет пожилая сеньора, горячо любящая своего единственного внука. Вот уже 20 лет она занята только перепиской с ним - в ее мыслях он предстает блестящим молодым человеком. Искусные актеры готовы подарить бабушке три счастливых дня в компании любимого внука и его молодой жены. Но неожиданное стечение обстоятельств меняет ход запланированных событий…
                        %p В трагикомической постановке Юрия Иоффе интригующий сюжет вовлекает зрителя в игровой и философский разговор о правде и лжи, о существовании на тонкой грани реальности и вымысла. Можно ли прожить всю жизнь в притворстве и как измерить ценность истинной правды, если она может 

                    .press
                        %span.press_title пресса о спектакле
                        .quote
                            %p.quote_text «Норма» Максима Диденко, поставленная силами Театра на Малой Бронной и Мастерской Брусникина: советская реальность, поданная в звуковых, визуальных, языковых и вкусовых ощущениях. Театральный критик Алла Шендерова посмотрела спектакль по знаменитому роману Владимира Сорокина и задумалась, почему есть норму
                            %span.quote_date 9 декабря 2019, 
                                %a.quote_media-link(href="m24.ru") m24.ru
                            %a.quote_link(href="#") читать полностью
                        .quote
                            %p.quote_text Одна из самых громких театральных премьер осени — спектакль по мотивам первого романа Владимира Сорокина «Норма», поставленный Максимом Диденко. В интервью Forbes Life режиссер рассказал о том, почему писатель отказался смотреть постановку до премьеры, чем эволюция
                            %span.quote_date 9 декабря 2019,
                                 %a.quote_media-link(href="m24.ru") m24.ru
                            %a.quote_link(href="#") читать полностью

                    .event_share
                        .share
                            .share_title поделиться
                            .addthis_sharing_toolbox

                .partners
                    .partners_list
                        %span.partners_list-title партнеры спектакля
                        %a.partners_item(href="#" target="__blank")
                            %img.partners_image(src="src/img/partners/lg.svg" alt="")
                        %a.partners_item(href="#" target="__blank")
                            %img.partners_image(src="src/img/partners/simple-waters.svg" alt="")
                        %a.partners_item(href="#" target="__blank")
                            %img.partners_image(src="src/img/partners/mihoels.svg" alt="")
                    .partners_list
                        %span.partners_list-title информационные партнеры спектакля
                        %a.partners_item(href="#" target="__blank")
                            %img.partners_image(src="src/img/partners/pioner.svg" alt="")
                        %a.partners_item(href="#" target="__blank")
                            %img.partners_image(src="src/img/partners/tass.svg" alt="")
                        %a.partners_item(href="#" target="__blank")
                            %img.partners_image(src="src/img/partners/kommersatnt.svg" alt="")

                    

                    %button.event_fixed-button купить билет

            .events
                %span.events_title наши премьеры
                .events_list
                    %a.events_item
                        .events_item-image-wrapper
                            %img.events_item-image(src="src/img/temp/event-small-1.jpg" alt="")
                        %span.events_item-title Ревизор
                    %a.events_item
                        .events_item-image-wrapper
                            %img.events_item-image(src="src/img/temp/event-small-2.jpg" alt="")
                        %span.events_item-title Подлинная история Фрекен Бок
                    %a.events_item
                        .events_item-image-wrapper
                            %img.events_item-image(src="src/img/temp/event-small-3.jpg" alt="")
                        %span.events_item-title Макбет
                    %a.events_item
                        .events_item-image-wrapper
                            %img.events_item-image(src="src/img/temp/event-small-4.jpg" alt="")
                        %span.events_item-title Княжна Марья


        .gallery-popup
            %button.gallery-popup_close
            .slider.slider__gallery(id="slider-gallery")
                .slider_counter
                .slider_track
                    .slider_item
                        %img.slider_image(src="src/img/temp/event-popup-1.jpg" alt="")
                        .slider_item-content
                            %span.slider_text В этом же городе живет пожилая сеньора, горячо любящая своего единственного внука. В этом же городе живет пожилая сеньора, горячо любящая своего единственного внука. 
                            %button.slider_share-button поделиться
                    .slider_item
                        %img.slider_image(src="src/img/temp/event-popup-1.jpg" alt="")
                        .slider_item-content
                            %span.slider_text В этом же городе живет пожилая сеньора, горячо любящая своего единственного внука. 
                            %button.slider_share-button поделиться
                    .slider_item
                        %img.slider_image(src="src/img/temp/event-popup-1.jpg" alt="")
                        .slider_item-content
                            %span.slider_text В этом же городе живет пожилая сеньора, горячо любящая своего единственного внука. В этом же городе живет пожилая сеньора, горячо любящая своего единственного внука. 
                            %button.slider_share-button поделиться
                    .slider_item
                        %img.slider_image(src="src/img/temp/event-popup-1.jpg" alt="")
                        .slider_item-content
                            %span.slider_text В этом же городе живет пожилая сеньора, горячо любящая своего единственного внука. 
                            %button.slider_share-button поделиться

        %footer.footer
            .footer_mobile
                .social
                    %span.social_title следите за нами в соцсетях
                    .social_links
                        %a.social_link.social_link__vk(href="#")
                        %a.social_link.social_link__fb(href="#")
                        %a.social_link.social_link__insta(href="#")
                        %a.social_link.social_link__youtube(href="#")
                        
                .footer_menu
                    %a.footer_menu-link(href="afisha.html") афиша
                    %a.footer_menu-link(href="/about.html") адреса
                    %a.footer_menu-link(href="#") купить билет
                    %a.footer_menu-link(href="#") схема зала
                    %a.footer_menu-link(href="#") фотобанк
                    %a.footer_menu-link(href="volunteers.html") клуб волонтеров
                    %a.footer_menu-link(href="/partners.html") партнеры театра
                    %a.footer_menu-link(href="#") контакты
            .footer_content
                .footer_columns
                    .footer_column.footer_column__flex
                        %img.footer_logo(src="src/img/dkm.svg" alt="")
                        %div.footer_contacts
                            .footer_adress
                                %span Москва 
                                %span Малая Бронная, 4
                                %a(href="mailto:mbronnaya@theatre.ru") mbronnaya@theatre.ru
                            %a.footer_contacts-button все контакты
                    .footer_column
                        %p.footer_description Официальный сайт Государственного бюджетного учреждения культуры города Москвы  «Московский драматический театр на Малой Бронной» 
                        .footer_documents
                            %span.footer_inn ИНН 7703001970
                            %a.footer_documents-link(href="#") Документы
                .footer_bottom
                    %img.footer_bottom-image(src="src/img/bank-of-vacancies.jpg" alt="")
                    %img.footer_bottom-image(src="src/img/active-citizen.jpg" alt="")
                    %img.footer_bottom-image(src="src/img/year-of-theatre.jpg" alt="")
                    %a.footer_outer-link(href="#") mos.ru


        %script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5642faf671d1921e" async="async")
        %script(src="src/js/tiny-slider.min.js")
        %script(src="src/js/main.js")
        %script(src="src/js/event.js")
                                
