html {
    font-size: 0.83px;
    scroll-behavior: smooth;
    @include tablet {
        font-size: 1px;
    }
}

body {
    background: $bg_color;
    color: $color;
    font: #{$font-size}/24rem $font-family;
    @include tablet {
        font-size: 12rem;
        line-height: 22rem;
    }
    @include desktop {
        font-size: 18rem;
        line-height: 32rem;
    }
    @include desktop-large {
        font-size: 26rem;
        line-height: 48rem;
    }
}

a {
    color: $color;
    text-decoration: none;
    position: relative;
    transition: .2s ease-in-out color;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        border-bottom: 1rem solid currentColor;
        transition: .1s ease-in-out transform;
        transform-origin: right center;
    }

    &:hover,
    &.hover {
        color: $bright_color;
        outline: none;

        &::after {
            transform: scaleX(0);
        }
    }
    &:active,
    &.active {
        color: $bright_color__active;
        outline: none;
    }
}

p {
    margin: 0 0 10rem;
}

ul,
ol {
    padding: 0 0 0 20rem;
}

img {
    max-width: 100%;
}

button,
input,
textarea {
    &:focus {
        outline: none;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

.fixed-header {
    padding-top: 115rem;
    @include tablet {
        padding: 0;
    }
}
