$img: "src/img";

$bg_color: #F2F2F2;

$color: #040304;

$bright_color: #FF0066;

$dark_color: #1e2124;
$gray_color: #D8D8D8;
$light_color: #fff;

$bright_color__hover: #af1e20;
$bright_color__active: #911f23;

$input_color: #373e44;

$font-family: Gerbera, Helvetica, Arial, sans-serif;

$font-size: 14rem;

$max-width: 1168px;
$layout_indent: 26px;
