@mixin button {
    background: $bright_color;
    border: 1rem solid $bright_color;
    box-sizing: border-box;
    border-radius: 0;
    cursor: pointer;
    color: $light_color;
    font-size: 14rem;
    line-height: 18rem;
    padding: 12rem 20rem;
    text-align: center;
    transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color, 0.2s ease-in-out box-shadow;
    @include tablet {
        white-space: nowrap;
        font-size: 12rem;
        line-height: 18rem;
        padding-top: 8rem;
        padding-bottom: 9rem;
    }
    @include desktop {
        font-size: 16rem;
        padding-top: 18rem;
        padding-bottom: 22rem;
    }
    @include desktop-large {
        font-size: 20rem;
        padding-top: 29rem;
        padding-bottom: 31rem;
    }

    &:hover {
        background-color: $bright_color;
        box-shadow: 0 0 0 3rem $bright_color;
        outline: none;
    }
    &:active {
        background-color: $bright_color;
        outline: none;
    }
    &:focus {
        outline: none;
    }
    &:disabled,
    &:disabled:hover,
    &:disabled:active {
        background-color: #E5E5E5;
        opacity: 1;
        box-shadow: none;
        cursor: default;
        border-color: transparent;
    }
}

@mixin blue-button {
    color: $color;
    background: $blue_color;
    border: none;
    transition: .2s ease-in-out box-shadow;

    &:hover {
        background-color: $blue_color;
        box-shadow: 0 0 0 3rem $blue_color;
        color: $color;
    }
    &:active {
        background-color: $blue_color;
        box-shadow: 0 0 0 1rem $blue_color;
    }
}
@mixin light-button {
    color: $color;
    background: $light_color;
    border: 1rem solid currentColor;
    @include tablet {
        font-size: 11rem;
    }
    @include desktop {
        font-size: 16rem;
    }
    @include desktop-large {
        font-size: 20rem;
    }

    &:hover {
        background-color: $light_color;
        box-shadow: none;
    }
    &:active {
        background-color: $light_color;
        box-shadow: none;
    }
}
@mixin bright-button {
    display: block;
    color: $bright_color;
    background: $light_color;
    border: 1rem solid currentColor;
    height: 62rem;
    width: 100%;
    padding: 12rem 10rem;
    box-sizing: border-box;
    text-align: center;
    transition: 0.2s ease-in-out color, 0.2s ease-in-out background-color, 0.2s ease-in-out opacity;
    @include tablet {
        height: 38rem;
        font-size: 12rem;
        line-height: 18rem;
        padding-top: 8rem;
        padding-bottom: 9rem;
        display: inline-block;
        width: auto;
        min-width: 200rem;
    }
    @include desktop {
        font-size: 18rem;
        line-height: 24rem;
        height: 60rem;
        padding-top: 18rem;
        padding-bottom: 22rem;
        min-width: 325rem;
    }
    @include desktop-large {
        font-size: 20rem;
        line-height: 24rem;
        height: 84rem;
        padding-top: 25rem;
        padding-bottom: 35rem;
        min-width: 460rem;
    }

    &:hover {
        background-color: $bright_color;
        color: $light_color;
        border-color: $bright_color;
        box-shadow: none;
    }
    &:active {
        background-color: $bright_color;
        color: $light_color;
        border-color: $bright_color;
        opacity: 0.8;
    }
}

button,
input[type="button"],
input[type="submit"] {
    @include button;
}

.button {
    @include button;
}

input[type="submit"] {
    @include bright-button;
    padding: 12rem 10rem;
}
