.form {
    &_row {
        @include tablet {
            display: flex;
        }
    }
    &_cell {
        position: relative;
        margin: 0 0 22rem;
        @include tablet {
            flex-grow: 1;
            margin-bottom: 16rem;
        }
        @include desktop {
            margin-bottom: 24rem;
        }

        & + & {
            @include tablet {
                width: 48%;
                flex-shrink: 0;
                flex-grow: 0;
                margin-left: 16rem;
            }
            @include desktop {
                margin-left: 34rem;
            }
            @include desktop-large {
                margin-left: 48rem;
            }
        }

        &:only-child {
            @include tablet {
                padding-right: calc(48% + 16rem);
            }
            @include desktop {
                padding-right: calc(48% + 34rem);
            }
            @include desktop-large {
                padding-right: calc(48% + 48rem);
            }
        }
    }
    &_errors {
        @include tablet {
            position: absolute;
            top: 110%;
            left: 0;
            right: 0;
        }
    }
    &_error {
        animation: error-fade-in .2s linear .1s 1 forwards;
        color: $bright_color;
        font-size: 14rem;
        display: inline-block;
        text-align: center;
        @include tablet {
            font-size: 12rem;
            min-width: 200rem;
        }
        @include desktop {
            font-size: 18rem;
            min-width: 325rem;
        }
        @include desktop-large {
            font-size: 20rem;
            min-width: 460rem;
        }
    }
}

@keyframes error-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}