input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="number"],
input[type="tel"] {
    @include placeholder-color($color);
    background-color: $light_color;
    color: $color;
    border: 1rem solid currentColor;
    font-size: 14rem;
    height: 62rem;
    line-height: 62rem;    
    box-sizing: border-box;
    font-family: $font-family;
    padding: 0 20rem;
    width: 100%;
    transition: .2s ease-in border-color, .2s ease-in color;
    @include tablet {
        height: 38rem;
        font-size: 12rem;
        line-height: 38rem;
    }
    @include desktop {
        font-size: 18rem;
        line-height: 60rem;
        height: 60rem;
    }
    @include desktop-large {
        font-size: 20rem;
        line-height: 84rem;
        height: 84rem;
    }

    &:hover,
    &:focus {
        @include placeholder-color(rgba($color, .2  ));
    }
    &:focus,
    &.focus {
        border-color: $bright_color;
    }
    &:disabled {
        background-color: rgba($dark_color, 0.3);
        color: rgba(#4e565c, 0.3);
        border-color: rgba(#2e343c, 0.3);
    }

    .invalid & {
        border-color: $bright_color;
    }
}
