input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="number"],
input[type="tel"] {
    background-color: $dark_color;
    color: #4e565c;
    border: 1rem solid #4b525c;
    border-radius: 8rem;
    box-sizing: border-box;
    font: $font-size $font-family;
    padding: 7rem 25rem 7rem;
    width: 100%;
    box-shadow: 0 2rem 3rem rgba(#000, .17) inset;
    transition: .2s ease-in border-color, .2s ease-in background;
    @include tablet {
        //width: inherit;
    }

    &:focus,
    &.focus {
        border-color: #5d6775;
        background-color: $gray_color;
        color: #7f8a95;
    }
    &:disabled {
        background-color: rgba($dark_color, .3);
        color: rgba(#4e565c, .3);
        border-color: rgba(#2e343c, .3);
    }

    .invalid & {
        border-color: $bright_color;
    }
}

input[type="password"] {
    padding-left: 40rem;
    background-repeat: no-repeat;
    background-position: 12rem center;
    background-image: url(#{$img}/icons/lock.svg);
    background-size: 16rem auto;
}
input[type="email"] {
    padding-left: 40rem;
    background-repeat: no-repeat;
    background-position: 12rem center;
    background-image: url(#{$img}/icons/envelope.svg);
    background-size: 16rem auto;
}
input[type="search"] {
    padding-right: 40rem;
    background-repeat: no-repeat;
    background-position: 95% center;
    background-image: url(#{$img}/icons/search.svg);
    border-radius: 30rem;
    background-color: $dark_color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1rem solid #2e343c;
  background-color: $dark_color !important;
  -webkit-text-fill-color:  #4e565c;
  -webkit-box-shadow: 0 0 0rem 1000rem $dark_color inset;
  transition: background-color 5000s ease-in-out 0s;
}
