input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="number"],
input[type="tel"] {
    background-color: $light_color;
    color: $color;
    border: 1rem solid currentColor;
    font-size: 14rem;
    height: 62rem;
    line-height: 62rem;    
    box-sizing: border-box;
    font-family: $font-family;
    padding: 0 20rem;
    width: 100%;
    transition: 0.2s ease-in border-color;
    @include tablet {
        height: 38rem;
        font-size: 12rem;
        line-height: 38rem;
    }
    @include desktop {
        font-size: 18rem;
        line-height: 60rem;
        height: 60rem;
    }
    @include desktop-large {
        font-size: 20rem;
        line-height: 84rem;
        height: 84rem;
    }

    &:focus,
    &.focus {
        border-color: $bright_color;
    }
    &:disabled {
        background-color: rgba($dark_color, 0.3);
        color: rgba(#4e565c, 0.3);
        border-color: rgba(#2e343c, 0.3);
    }

    .invalid & {
        border-color: $bright_color;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    border: 1rem solid #2e343c;
    background-color: $dark_color !important;
    -webkit-text-fill-color: #4e565c;
    -webkit-box-shadow: 0 0 0rem 1000rem $dark_color inset;
    transition: background-color 5000s ease-in-out 0s;
}
