
select,
select:focus,
select:active {
    appearance: none;
    background: $light_color;
    border: 1px solid $color;
    font-size: 12rem;
    line-height: 14rem;
    padding: 9rem 10rem 5rem;
    text-align: center;
    border-radius: 0;
    outline: none;
    @include tablet {
        padding: 9rem 20rem 11rem 20rem;
    }
    & + & {
        margin: 0 0 0 -1rem;
    }
}

optgroup {
    box-shadow: 0 0 2rem $color;
    outline: 2rem $color;
}

option {
    
    &:hover {
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1) inset;
        background: rgba(0, 0, 0, 0.1);
        outline: none !important;
        border: none !important;
    }
}
