textarea {
    @include placeholder-color(rgba(60, 60, 60, .3));
    background: $dark_color;
    color: $color;
    border: 1rem solid $light_color;
    font: $font-size $font-family;
    padding: 20rem 11rem;
    height: 120rem;
    box-sizing: border-box;
    width: 100%;
    transition: .2s ease-in border-color;
    margin: 0 0 10rem;

    &:focus {
        border-color: $color;
    }
}
