.accordion {
    margin: 0 0 20rem;
    @include tablet {
        margin-bottom: 40rem;
    }
    @include desktop {
        margin-bottom: 64rem;
    }
    @include desktop-large {
        margin-bottom: 88rem;
    }

    &_item {
        margin-bottom: 1px;
        
        .accordion__secondary & {
            border-top: 1rem dashed #9b9b9b;

            &:first-child {
                border-top: none;
            }
        }
    }
    &_header {
        cursor: pointer;
        background: $blue_color;
        font-size: 18rem;
        line-height: 30rem;
        font-weight: bold;
        padding: 15rem 40rem 17rem 28rem;
        position: sticky;
        top: 0;
        z-index: 2;
        @include tablet {
            font-size: 14rem;
            line-height: 30rem;
            padding: 11rem 40rem 12rem 20rem;
        }
        @include desktop {
            font-size: 22rem;
            line-height: 30rem;
            padding: 27rem 40rem 33rem 34rem;
        }
        @include desktop-large {
            font-size: 32rem;
            line-height: 56rem;
            padding: 31rem 60rem 41rem 48rem;
        }

        //@for $i from 1 to 10 {
        //    .accordion_item:nth-child(#{$i}) & {
        //        top: calc(42rem * #{$i - 1});
        //    }
        //}

        .accordion__secondary & {
            background: transparent;
            font-size: 26rem;
            line-height: 34rem;
            padding: 17rem 20rem 22rem 0;
            position: relative;
            z-index: 1;
            @include tablet {
                font-size: 40rem;
                line-height: 48rem;
                padding: 12rem 0 26rem;
            }
            @include desktop {
                font-size: 66rem;
                line-height: 78rem;
                padding: 25rem 0 35rem;
            }
            @include desktop-large {
                font-size: 90rem;
                line-height: 106rem;
                padding: 35rem 0 50rem;
            }
        }

        .accordion_item__disabled & {
            color: #9b9b9b;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 28rem;
            width: 20rem;
            background: url(#{$img}/accordion-arrow.svg) no-repeat center 60%;
            transition: .2s ease-in-out transform;
            @include desktop {
                width: 30rem;
                right: 54rem;
                background-size: 100% auto;
            }

            .accordion__secondary & {
                background-position-y: center;
                top: 34rem;
                bottom: auto;
                height: 16rem;
                right: 0;
                @include tablet {
                    top: 38rem;
                }
                @include desktop {
                    top: 66rem;
                    height: 28rem;
                }
                @include desktop-large {
                    top: 88rem;
                }
            }
            .accordion_item__disabled & {
                display: none;
            }
            .accordion_item__closed & {
                transform: rotate(180deg) translateY(8rem);
                background-position: center center;
            }
        }
        &:hover::after {
            transform: scale(1.15) translateY(-2rem);

            .accordion_item__closed & {
                transform: rotate(180deg) scale(1.15) translateY(6rem);
            }
        }
        &:active::after {
            transform: scale(1) translateY(-2rem);

            .accordion_item__closed & {
                transform: rotate(180deg) scale(1.15) translateY(6rem);
            }
        }
    }
    &_header-title {
        .accordion__secondary & {
            border-bottom: 1px solid transparent;
            transition: .2s ease-in-out border;
            pointer-events: none;
            @include tablet {
                border-bottom-width: 3rem;
            }
            @include desktop {
                border-bottom-width: 4rem;
            }
            @include desktop-large {
                border-bottom-width: 5rem;
            }
        }
        .accordion__secondary .accordion_header:hover & {
            border-bottom-color: currentColor;
        }
        .accordion__secondary .accordion_item__disabled .accordion_header:hover & {
            border-bottom: none;
        }
    }
    &_header-subtitle {
        color: #68d2db;
        font-size: 14rem;
        line-height: 16rem;
        display: block;
        @include desktop {
            font-size: 22rem;
            line-height: 16rem;
        }
        @include desktop-large {
            font-size: 32rem;
            line-height: 56rem;
        }
    }
    &_content {
        padding: 52rem $layout_indent 4rem;
        overflow: hidden;
        @include tablet {
            padding: 30rem $layout_indent 0 70rem;
        }
        @include desktop {
            padding: 30rem 50rem 0 124rem;
            overflow: visible;
        }
        @include desktop-large {
            padding: 58rem 50rem 6rem 162rem;
        }

        .accordion__secondary & {
            padding-left: 3rem;
            padding-right: 0;
        }
        .accordion_item__closed & {
            display: none;
        }
    }
}
