.article {
    &_slider-wrapper {
        margin: 0 -#{$layout_indent} 20rem;
        position: relative;
        @include tablet {
            margin-bottom: 0;
        }
        @include desktop {
            margin-right: -3vw;
            margin-bottom: 22rem;
        }
        @include desktop-large {
            margin-right: -5vw;
            margin-bottom: 32rem;
        }
    }
    &_columns {
        margin: 0 0 28rem;
        @include tablet {
            display: flex;
            align-items: flex-start;
            margin-bottom: 36rem;
        }
        @include desktop {
            margin-bottom: 48rem;
        }
        @include desktop-large {
            margin-bottom: 72rem;
        }

        &__indent {
            @include tablet {
                width: 50%;
            }
        }
    }
    &_content {
        @include tablet {
            flex-grow: 1;
            padding: 34rem 0 0 0;
        }
        @include desktop {
            padding-top: 48rem;
        }
        @include desktop-large {
            padding-top: 100rem;
        }

        
    }
    &_iframe-wrapper {
        padding: 0 0 56%;
        position: relative;
        margin: 28rem 0 28rem;
        @include tablet {
            margin-top: 20rem;
        }
        @include desktop {
            margin-bottom: 32rem;
        }

        iframe {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
    }
    &_image {
        width: 100%;
        margin: 0 0 $layout_indent;
        @include tablet {
            order: 2;
            margin: 0 0 0 16rem;
            flex-grow: 1;
            flex-shrink: 0;
            width: 48%;
        }
        @include desktop {
            margin-left: 34rem;
        }
        @include desktop {
            margin-left: 48rem;
        }
    }
    &_date {
        color: $bright_color;
        font-weight: bold;
        font-size: 12rem;
        line-height: 32rem;
        margin: 0 0 10rem 18rem;
        position: relative;
        display: block;
        @include tablet {
            font-size: 10rem;
            line-height: 16rem;
            margin-bottom: 14rem;
        }
        @include desktop {
            font-size: 14rem;
            line-height: 32rem;
            margin-bottom: 20rem;
        }
        @include desktop-large {
            font-size: 20rem;
            line-height: 32rem;
            margin-bottom: 30rem;
        }

        &::before {
            content: "";
            background-color: currentColor;
            height: 14rem;
            width: 2rem;
            position: absolute;
            left: -11rem;
            top: 6rem;
            transform: rotate(35deg);
            @include tablet {
                top: 1rem;
            }
            @include desktop {
                top: 8rem;
                height: 16rem;
            }
            @include desktop-large {
                height: 18rem;
            }
        }
    }
    &_document {
        @include tablet {
            display: flex;
        }
    }
    &_document-text {
        flex-grow: 1;
        margin: 0 0 20rem;
    }
    &_document-link-wrapper {
        @include tablet {
            display: inline-block;
            width: 48%;
            flex-shrink: 0;
            flex-grow: 0;
            margin-left: 16rem;
        }
        @include desktop {
            margin-left: 34rem;
        }
        @include desktop-large {
            margin-left: 48rem;
        }
    }
    &_document-link {
        @include bright-button;
        display: block;
        line-height: 34rem;
        @include tablet {
            margin: 8rem 0 0;
        }
        @include desktop {
            margin-top: 12rem;
        }
        @include desktop-large {
            margin-top: 22rem;
        }

        &::after {
            display: none;
        }
    }
    &_contacts {
        margin: 0 0 66rem;
        @include tablet {
            padding-right: calc(48% + 16rem);
        }
        @include desktop {
            padding-right: calc(48% + 34rem);
        }
        @include desktop-large {
            padding-right: calc(48% + 48rem);
        }

        tbody,
        tr,
        td {
            display: block;
        }

        tr {
            @include tablet {
                display: table-row;
            }
        }

        td {
            font-weight: bold;
            padding: 12rem 0;
            vertical-align: top;
            @include tablet {
                padding: 8rem 16rem 8rem 0;
                display: table-cell;
            }
            @include desktop {
                padding: 16rem 64rem 16rem 0;
            }

            &:first-child {
                padding-bottom: 0;
            }
        }
        td + td {
            font-weight: normal;
        }

        a {
            display: block;

            &::after {
                display: none;
            }
        }
    }

    h1 {
        font-size: 28rem;
        line-height: 33rem;
        margin: 0 0 34rem;
        @include tablet {
            font-size: 40rem;
            line-height: 48rem;
            margin: 24rem 0 24rem;
        }
        @include desktop {
            font-size: 66rem;
            line-height: 78rem;
            margin-bottom: 34rem;
        }
        @include desktop-large {
            font-size: 90rem;
            line-height: 106rem;
            margin: 50rem 0 44rem;
        }
    }
}
