.events {
    margin: 0 0 20rem;

    &__bordered {
        border-top: 1px solid #9B9B9B;
        padding-top: 20rem;
        @include desktop {
            padding-top: 30rem;
        }
    }

    &_title {
        display: block;
        font-size: 14rem;
        line-height: 46rem;
        color: $bright_color;
        @include tablet {
            font-size: 12rem;
            line-height: 46rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 46rem;
            margin-bottom: 22rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 46rem;
            margin-bottom: 40rem;
        }
    }
    &_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 32rem;
        column-gap: 32rem;
        @include tablet {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            row-gap: 40rem;
            column-gap: 40rem;
        }
        @include desktop {
            row-gap: 62rem;
            column-gap: 62rem;
        }
        @include desktop-large {
            row-gap: 100rem;
            column-gap: 100rem;
        }

        .events__small & {
            @include tablet {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
        }
    }
    &_item {
        &::after {
            display: none;
        }
    }
    &_item-image-wrapper {
        overflow: hidden;
        margin: 0 0 8rem;
        @include desktop {
            margin-bottom: 14rem;
        }
    }
    &_item-image {
        width: 100%;
        transition: 0.2s ease-in-out transform;

        .events_item:hover & {
            transform: scale(1.1);
        }
    }
    &_item-title {
        font-weight: bold;
        font-size: 16rem;
        line-height: 24rem;
        border-bottom: 1px solid transparent;
        transition: .2s ease-in-out border;
        @include desktop {
            font-size: 22rem;
            line-height: 32rem;
        }
        @include desktop-large {
            font-size: 36rem;
            line-height: 50rem;
        }

        .events_item:hover & {
            border-bottom-color: currentColor;
            color: $color;
        }

        .events__small & {
            font-size: 14rem;
            line-height: 18rem;
            @include desktop {
                font-size: 18rem;
                line-height: 24rem;
            }
        }
    }
}
