.events {
    margin: 0 0 20px;

    &_title {
        display: block;
        font-size: 14px;
        line-height: 46px;
        color: $bright_color;
        @include tablet {
            font-size: 12px;
            line-height: 46px;
        }
        @include desktop {
            font-size: 18px;
            line-height: 46px;
            margin-bottom: 22px;
        }
        @include desktop-large {
            font-size: 26px;
            line-height: 46px;
            margin-bottom: 40px;
        }
    }
    &_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 32px;
        column-gap: 32px;
        @include tablet {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    &_item {
        &::after {
            display: none;
        }
    }
    &_item-image-wrapper {
        overflow: hidden;
        margin: 0 0 8px;
        @include desktop {
            margin-bottom: 14px;
        }
    }
    &_item-image {
        width: 100%;
        transition: 0.2s ease-in-out transform;

        .events_item:hover & {
            transform: scale(1.1);
        }
    }
    &_item-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        @include desktop {
            font-size: 22px;
            line-height: 32px;
        }
        @include desktop-large {
            font-size: 36px;
            line-height: 50px;
        }
    }
}
