.filters {
    background: #E3E3E3;
    padding: 15rem $layout_indent 12rem;
    margin: 0 -#{$layout_indent};
    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13rem 22rem;
        margin: 0;
    }
    @include desktop {
        padding: 20rem 34rem;
    }
    @include desktop-large {
        padding: 30rem 48rem;
    }

    &__fixed {
        position: relative;
        @include tablet {
            box-sizing: border-box;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 1;
            height: 66rem;
        }
    }

    &_mode {
        margin: 0 0 16rem;
        @include tablet {
            width: 35%;
            margin: 0;
        }
        @include desktop-large {
            min-width: 580rem;
        }
    }
    &_controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_control {
        color: $color;
        font-size: 12rem;
        line-height: 14rem;
        background: transparent;
        padding: 0 16rem 0 0;
        border: none;
        position: relative;
        @include tablet {
            margin: 0 0 0 40rem;
        }
        @include desktop {
            font-size: 16rem;
            line-height: 14rem;
            padding-right: 22rem;
            margin-left: 44rem;
        }
        @include desktop-large {
            font-size: 22rem;
            line-height: 14rem;
            padding-right: 30rem;
            margin-left: 80rem;
        }

        &__active {
            background: url(#{$img}/check.svg) no-repeat right center;
            background-size: 12rem auto;
            @include desktop {
                background-size: 18rem auto;
            }
            @include desktop-large {
                background-size: 22rem auto;
            }
        }
        &__mobile {
            @include tablet {
                display: none;
            }
        }

        &:hover,
        &:active {
            background-color: transparent;
            box-shadow: none;
        }
    }
    &_control-text {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            border-bottom: 1rem solid currentColor;
            transform: scaleX(0);
            transform-origin: left 0;
            transition: 0.2s ease-in-out transform;
        }
        .filters_control:hover &::before,
        .filters_switcher-button:hover &::before {
            transform: scaleX(1);
        }
        .filters_control.active &::before,
        .filters_control:active &::before {
            transform-origin: right 0;
            transform: scaleX(0);
        }


        .filters_switcher:hover .filters_switcher-button.active &::before {
            transform: scale(0);
        }
        .filters_switcher-button.active &::before,
        .filters_switcher .filters_switcher-button.active:hover &::before {
            transform: scale(1);
        }
        .filters_switcher-button:nth-child(1) &::before {
            transform-origin: right 0;
        }
        .filters_switcher-button:nth-child(2) &::before {
            transform-origin: left 0;
        }
    }
    &_control-icon {
        margin: -2rem 8rem 0 0;
        vertical-align: middle;
        @include tablet {
            margin-right: 10rem;
        }
        @include desktop {
            margin-right: 14rem;
            margin-top: -3rem;
        }
        @include desktop-large {
            margin-right: 18rem;
            margin-top: -4rem;
            width: 18rem;
        }
    }
    &_switcher-button {
        padding: 0;
        background: transparent;
        border: none;
        color: $color;
        font-size: 12rem;
        line-height: 17rem;
        margin: 0 20rem;

        &:hover,
        &:active {
            color: $color;
            background: transparent;
            box-shadow: none;
        }
    }
    &_switcher-divider {
        display: inline-block;
        height: 15rem;
        width: 1px;
        background: $color;
        vertical-align: middle;
    }
    &_panel-wrapper {
        max-width: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        background-color: #E3E3E3;
        @include tablet {
            position: static;
            width: auto;
            height: auto;
            background-color: transparent;
            transition: .3s ease-in-out max-width, .3s ease-in-out opacity;
        }

        .filters__opened & {
            width: 100%;
            opacity: 1;
            max-width: 1000rem;
            padding: 0 0 0 $layout_indent;
            @include tablet {
                width: auto;
                padding: 0;
            }
        }
    }
    &_panel {
        align-items: center;
        transform-origin: center right;
        display: flex;
        transform: scaleX(0);
        @include tablet {
            transition: .2s ease-in-out .1s transform;
        }

        .filters__opened & {
            transform: scaleX(1);
        }
    }
    &_panel-divider {
        color: $color;
        font-size: 16rem;
        line-height: 33rem;
        margin: 0 8rem;
        @include tablet {
            margin: 0 15rem;
        }
    }
    &_button {
        margin: 0 0 0 16rem;
        padding: 0;
        background: transparent;
        border: none;
        color: $bright_color;
        font-size: 0;
        line-height: 0;
        position: relative;
        width: 16rem;
        height: 16rem;
        background: url(#{$img}/clear.svg) no-repeat center center;
        @include tablet {
            background: transparent;
            width: auto;
            height: auto;
            font-size: 12rem;
            line-height: 16rem;
            margin-left: 0 0 0 20rem;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            border-bottom: 1rem solid currentColor;
            transition: .1s ease-in-out transform;
            transform-origin: right center;
            transform: scaleX(0);
        }

        &:hover {
            background-color: transparent;
            box-shadow: none;

            &::after {
                @include tablet {
                    transform: scaleX(1);
                }
            }
        }
        &:active {
            color: $bright_color__active;
            outline: none;
        }
    }
}
