.partners-grid {
    margin: 0 0 40rem;
    @include tablet {
        padding: 40rem 0 0;
        border-bottom: 1rem solid #9b9b9b;
    }
    @include desktop {
        padding-top: 70rem;
    }
    @include desktop-large {
        padding-top: 100rem;
    }


    &_section {
        padding: 20rem 0 0;
        border-bottom: 1px solid #9B9B9B;
        @include tablet {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            border-bottom: none;
        }

        &:first-child {
            border-top: none;
        }
    }
    &_title {
        font-weight: 500;
        font-size: 14rem;
        line-height: 22rem;
        display: block;
        width: 100%;
        padding-right: 55%;
        margin: 0 0 40rem;
        box-sizing: border-box;
        @include tablet {
            font-size: 12rem;
            line-height: 22rem;
            width: 25%;
            padding-right: 20rem;
            padding-top: 30rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 32rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 48rem;
        }
    }
    &_items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 0 20rem;
        @include tablet {
            width: 75%;
        }
    }
    &_item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 40rem;
        padding: 10rem 26rem;
        box-sizing: border-box;
        width: 50%;
        @include tablet {
            width: 33%;
            min-height: 111rem;
            padding: 19rem 35rem;
        }

        &::after {
            display: none;
        }

        &:only-child {
            width: 100%;
            @include tablet {
                width: 33%;
            }
        }
    }
}
