.people {
    margin: 0 0 24rem;
    text-align: right;
    @include tablet {
        margin-bottom: 34rem;
    }

    &__small {
        @include tablet {
            padding-right: 32rem;
        }
        @include desktop {
            padding-right: 40rem;
        }
        @include desktop-large {
            padding-right: 52rem;
        }
    }
    &__big {
        position: relative;
        padding: 28rem 0 36rem;
        margin: 0 0 24rem;
        @include tablet {
            padding-bottom: 0;
            margin-bottom: 54rem;
        }
        @include desktop {
            padding-top: 46rem;
            margin-bottom: 80rem;
        }

        &::after {
            content: "";
            height: 1rem;
            background: #9b9b9b;
            position: absolute;
            bottom: 0;
            left: -$layout_indent;
            right: -$layout_indent;
            @include tablet {
                display: none;
            }
        }
    }

    &_title {
        text-align: left;
        font-size: 12rem;
        line-height: 22rem;
        display: block;
        margin: 0 0 12rem;
        @include tablet {
            font-size: 12rem;
            line-height: 22rem;
            margin-bottom: 15rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 16rem;
            margin-bottom: 30rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 48rem;
        }
    }
    &_items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 24rem;
        column-gap: 24rem;
        margin: 0 0 24rem;
        text-align: left;
        @include tablet {
            row-gap: 18rem;
            column-gap: 32rem;
            margin-bottom: 18rem;
        }
        @include desktop {
            row-gap: 40rem;
            column-gap: 40rem;
            margin-bottom: 40rem;
        }
        @include desktop-large {
            row-gap: 52rem;
            column-gap: 52rem;
            margin-bottom: 52rem;
        }

        .people__four &,
        .people__five & {
            grid-template-columns: 1fr 1fr;
            row-gap: 36rem;
            column-gap: 36rem;
            @include tablet {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                row-gap: 30rem;
                column-gap: 20rem;
            }
            @include desktop {
                row-gap: 42rem;
                column-gap: 36rem;
            }
            @include desktop-large {
                row-gap: 56rem;
                column-gap: 50rem;
            }
        }
        .people__five & {
            @include tablet {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
        }
    }
    &_item {
        display: block;
        font-size: 12rem;
        line-height: 18rem;
        @include tablet {
            line-height: 22rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 32rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 48rem;
        }

        &::after {
            display: none;
        }

        &:hover {
            color: $color;
        }
    }
    &_item-image-wrapper {
        overflow: hidden;
        border-radius: 50%;
    }
    &_item-image {
        width: 100%;
        border-radius: 50%;
        margin: 0 0 4rem;
        transition: .2s ease-in-out transform;
        @include tablet {
            margin-bottom: 8rem;
        }
        @include desktop {
            margin-bottom: 12rem;
        }
        @include desktop-large {
            margin-bottom: 16rem;
        }


        .people_item:hover & {
            transform: scale(1.08);
        }
    }
    &_item-title {
        font-weight: bold;
        border-bottom: 1px solid transparent;
        transition: .2s ease-in-out border;
    }
    &_item-subtitle {
        color: #4a4a4a;
        display: block;

        .people__big & {
            @include desktop {
                font-weight: 200;
            }
        }
    }
    &_more {
        font-weight: bold;
        font-size: 14rem;
        line-height: 46rem;
        @include tablet {
            font-size: 12rem;
            line-height: 28rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 28rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 28rem;
        }
    }
}
