.press {

    &_title {
        display: block;
        font-size: 14rem;
        line-height: 46rem;
        color: $bright_color;
        margin: 0 0 10rem;
        @include tablet {
            font-size: 12rem;
            line-height: 46rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 46rem;
            margin-bottom: 22rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 46rem;
            margin-bottom: 40rem;
        }
    }
}
