.quote {
    background: rgba(0, 0, 0, 0.03);
    padding: 30rem;
    position: relative;
    text-align: right;
    margin: 0 0 30rem;
    @include tablet {
        padding: 37rem;
        margin: 0 0 20rem 8rem;
    }
    @include desktop {
        padding: 60rem;
        margin: 0 0 34rem 14rem;
    }
    @include desktop-large {
        padding: 70rem;
        margin: 0 0 50rem 20rem;
    }

    &::before {
        content: "";
        position: absolute;
        background: url(#{$img}/quote.svg) no-repeat center center / contain;
        width: 27rem;
        height: 18rem;
        left: 30rem;
        top: -10rem;
        @include tablet {
            top: 40rem;
            left: -10rem;
            width: 31rem;
            height: 21rem;
        }
        @include desktop {
            top: 74rem;
            left: -16rem;
            width: 52rem;
            height: 36rem;
        }
        @include desktop-large {
            top: 108rem;
            left: -22rem;
            width: 73rem;
            height: 51rem;
        }
    }

    &_text {
        font-size: 18rem;
        line-height: 28rem;
        margin: 0 0 4rem;
        text-align: left;
        @include tablet {
            font-size: 14rem;
            line-height: 22rem;
        }
        @include desktop {
            font-size: 22rem;
            line-height: 35rem;
        }
        @include desktop-large {
            font-size: 34rem;
            line-height: 56rem;
            margin-bottom: 14rem;
        }
    }
    &_date {
        color: $bright_color;
        font-size: 14rem;
        line-height: 20rem;
        text-align: left;
        display: block;
        @include tablet {
            font-size: 12rem;
            line-height: 20rem;
            display: inline;
            margin: 0 10rem 0 0;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 20rem;
            margin: 0 28rem 0 0;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 48rem;
        }
    }
    &_link {
        font-size: 14rem;
        line-height: 46rem;
        @include tablet {
            font-size: 12rem;
            line-height: 20rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 20rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 48rem;
        }
    }
}
