.slider {
    padding: 0 $layout_indent;
    overflow: hidden;
    @include tablet {
        padding-right: 0;
    }

    &__noindent {
        padding-left: 0;
        padding-right: 0;
    }
    &__accordion {
        margin: 0 -#{$layout_indent * 2};
        padding: 0 #{$layout_indent * 2};
        @include desktop {
            margin: 0 calc(#{$layout_indent * -2} - 3vw - 5rem) 0 0;
            padding: 0;
        }
        @include desktop-large {
            margin: 0 calc(#{$layout_indent * -2} - 54rem + 2rem) 0 0;
        }
    }

    &_counter {
        right: 26rem;
        top: 100%;
        font-size: 10rem;
        line-height: 20rem;
        color: #9B9B9B;
        position: absolute;
        @include tablet {
            right: auto;
            left: 16rem;
            text-align: right;
            width: calc(100vw - 250rem - 128rem - 16rem);
        }
        @include desktop {
            left: 26rem;
            font-size: 12rem;
            margin: 8rem 0 0;
            width: calc(100vw - 432rem - 19vw - 32rem);
        }
        @include desktop-large {
            font-size: 18rem;
            line-height: 20rem;
            width: calc(100vw - 618rem - 18vw - 46rem);
        }
    }
    &_item {

        .event & {
            @include tablet {
                width: calc(100vw - 260rem - 128rem);
            }
            @include desktop {
                width: calc(100vw - 418rem - 19vw);
            }
            @include desktop-large {
                width: calc(100vw - 618rem - 18vw);
            }
        }
    }
    &_image-wrapper {
        overflow: hidden;
    }
    &_image {
        width: 100%;
        transition: .2s ease-in-out transform;

        .slider_item:hover & {
            transform: scale(1.08);
        }
    }
}