.slider {
    padding: 0 $layout_indent;
    overflow: hidden;
    @include tablet {
        padding-right: 0;
    }

    &__noindent {
        padding-left: 0;
        padding-right: 0;
    }
    &__accordion {
        margin: -52rem -#{$layout_indent} 0;
        padding: 0 #{$layout_indent * 2};
        @include tablet {
            margin-top: 0;
        }
        @include desktop {
            margin: 0 calc(#{$layout_indent * -2} - 34rem + 2rem) 0 0;
            padding: 0;
        }
        @include desktop-large {
            margin: 0 calc(#{$layout_indent * -2} - 48rem + 2rem) 0 0;
        }
    }
    &__gallery {
        overflow: visible;
        padding: 0;
        @include tablet {
            margin: 0 20vw;
            position: relative;
        }
    }

    &_info {
        display: none;
        @include tablet {
            display: block;
            color: $light_color;
            font-weight: 300;
            font-size: 11rem;
            line-height: 16rem;
            padding: 14rem 64rem 14rem 14rem;
            background: rgba(4, 3, 4, 0.35);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
        @include desktop {
            font-size: 12rem;
            line-height: 18rem;
            padding: 18rem 94rem 22rem 22rem;
        }
        @include desktop-large {
            font-size: 18px;
            line-height: 24px;
            padding: 30rem 150rem 35rem 32rem;
        }
    }
    &_info-count {
        position: absolute;
        right: 15rem;
        bottom: 12rem;
        @include desktop {
            right: 22rem;
            bottom: 50%;
            transform: translateY(50%);
        }
        @include desktop-large {
            right: 33rem;
        }
    }
    &_counter {
        right: 26rem;
        top: 101.5%;
        font-size: 10rem;
        line-height: 20rem;
        color: #9b9b9b;
        position: absolute;
        z-index: 1;
        @include tablet {
            right: auto;
            left: 16rem;
            top: 100%;
            text-align: right;
            width: calc(100vw - 250rem - 128rem - 16rem);
        }
        @include desktop {
            left: 26rem;
            font-size: 12rem;
            margin: 8rem 0 0;
            width: calc(100vw - 432rem - 19vw - 18rem);
        }
        @include desktop-large {
            font-size: 18rem;
            line-height: 20rem;
            width: calc(100vw - 618rem - 18vw - 46rem);
        }

        .slider__gallery & {
            color: $light_color;
            top: auto;
            right: 12rem;
            bottom: calc(2vh + 65rem);
            font-size: 12rem;
            line-height: 18rem;
            @include tablet {
                width: 100rem;
                left: auto;
                right: 0;
                bottom: auto;
                top: calc(100% + 16rem);
            }
        }
    }
    &_item {
        position: relative;

        .event &,
        .article & {
            @include tablet {
                width: calc(100vw - 260rem - 128rem);
            }
            @include desktop {
                width: calc(100vw - 418rem - 19vw);
            }
            @include desktop-large {
                width: calc(100vw - 618rem - 18vw);
            }
        }
    }
    &_image-wrapper {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    &_image {
        width: 100%;
        transition: 0.2s ease-in-out transform;

        .slider_image-wrapper:hover & {
            transform: scale(1.08);
        }
        .slider__gallery & {
            height: 96vh;
            object-fit: cover;
            @include tablet {
                height: auto;
                object-fit: initial;
            }
        }
    }
    &_item-content {
        position: absolute;
        left: 12rem;
        right: 12rem;
        bottom: 12rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        opacity: 0;
        transition: 0.2s ease-in-out opacity;
        @include tablet {
            top: calc(100% + 16rem);
            bottom: auto;
            left: 0;
            right: 56rem;
            min-height: 70rem;
        }
        @include desktop {
            right: 120rem;
        }

        .tns-slide-active & {
            opacity: 1;
        }
    }
    &_text {
        font-size: 12rem;
        line-height: 18rem;
        color: $light_color;
        width: 60%;
        flex-shrink: 1;
        @include tablet {
            max-width: 240rem;
        }
        @include desktop {
            max-width: 340rem;
            font-size: 18rem;
            line-height: 24rem;
        }
    }
    &_share-button {
        @include button;
        background-color: transparent;
        color: $light_color;
        border: 2rem solid $light_color;
        flex-shrink: 0;
        margin: 0 0 0 24rem;
        padding-top: 7rem;
        padding-bottom: 8rem;
        @include tablet {
            padding-top: 7rem;
            padding-bottom: 9rem;
        }
        @include desktop {
            padding-top: 7rem;
            padding-bottom: 9rem;
        }

        &:hover {
            background-color: $light_color;
            box-shadow: none;
            color: $color;
        }
        &:active {
            background-color: $light_color;
            box-shadow: none;
            color: $color;
        }
    }
    &_image-open {
        background: url(#{$img}/fullscreen.svg) no-repeat center center;
        height: 47rem;
        width: 47rem;
        position: absolute;
        right: 4rem;
        top: 4rem;
        opacity: 0;
        z-index: 1;
        transition: 0.2s ease-in-out opacity;

        .slider_image-wrapper:hover & {
            opacity: 1;
        }
    }
}
