.spectacles {
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 15rem;
    }
    @include desktop {
        column-gap: 30rem;
    }

    &__line {
        display: block;
    }
}

.spectacle {
    margin: 0 0 40rem;
    padding: 0 0 30rem;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto auto;
    @include tablet {
        padding: 0;
        grid-template-rows: auto auto auto auto auto;
    }

    &::after {
        content: "";
        height: 1rem;
        background: #9b9b9b;
        position: absolute;
        bottom: 0;
        left: -$layout_indent;
        right: -$layout_indent;
        @include tablet {
            display: none;
        }
    }

    &__big {
        grid-column: 1 / 3;
        @include tablet {
            grid-template-columns: 2fr 3fr;
            column-gap: 20rem;
        }
    }
    &__alternate {
        display: block;
    }
    &__line {
        display: flex;
        padding-top: 28rem;
        margin: 0 0 20rem;
        @include tablet {
            padding-top: 22rem;
            padding-bottom: 20rem;
        }
        @include desktop {
            padding-top: 36rem;
        }
        @include desktop-large {
            padding-top: 50rem;
        }

        &::after {
            left: 134rem;
            right: 0;
            @include tablet {
                display: block;
                left: 0;
            }
        }
    }

    &_gallery {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
    &_image-wrapper {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        background: $gray_color;
        position: relative;
        margin: 0 0 13rem;
        height: 180rem;
        @include tablet {
            height: 150rem;
        }
        @include desktop {
            height: 230rem;
        }
        @include desktop-large {
            height: 352rem;
        }

        .spectacle__line & {
            margin: 0 18rem 0 0;
            width: 116rem;
            height: 116rem;
            flex-shrink: 0;
            @include tablet {
                width: 90rem;
                height: 90rem;
                margin-right: 12rem;
            }
            @include desktop {
                width: 144rem;
                height: 144rem;
                margin-right: 28rem;
            }
            @include desktop-large {
                width: 206rem;
                height: 206rem;
                margin-right: 40rem;
            }
        }
    }
    &_image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &_date {
        color: $light_color;
        font-size: 14rem;
        line-height: 14rem;
        position: absolute;
        right: 24rem;
        top: 17rem;
        text-decoration: none;
        @include desktop {
            right: 30rem;
            top: 26rem;
        }
        @include desktop-large {
            right: 46rem;
            top: 40rem;
        }

        &::after {
            display: none;
        }
    }
    &_tags {
        position: absolute;
        left: 17rem;
        bottom: 20rem;
        @include tablet {
            left: 30rem;
        }
        @include desktop {
            left: 43rem;
            bottom: 26rem;
        }
        @include desktop-large {
            left: 46rem;
            bottom: 46rem;
        }

        .spectacle__line & {
            position: static;
            margin: 0 0 5rem 6rem;
            left: 6rem;
            top: 5rem;
            bottom: auto;
            @include tablet {
                margin: 0;
                position: absolute;
                left: 6rem;
                top: 1rem;
                bottom: auto;
            }
        }
    }
    &_tag {
        color: $light_color;
        font-weight: bold;
        font-size: 12rem;
        line-height: 14rem;
        padding: 0 14rem 0 12rem;
        position: relative;
        @include desktop {
            font-size: 14rem;
            padding-right: 30rem;
        }

        &::after {
            display: none;
        }
        &::before {
            content: "";
            background-color: currentColor;
            height: 14rem;
            width: 2rem;
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(35deg);
        }

        .spectacle__line & {
            color: #9B9B9B;
        }
        &__bright,
        .spectacle__line &__bright {
            color: $bright_color;
        }

    }
    &_header {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        @include tablet {
            min-height: 100rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @include desktop {
            min-height: 110rem;
        }
        @include desktop-large {
            min-height: 145rem;
        }

        .spectacle__line & {
            @include tablet {
                min-height: 52rem;
            }
            @include desktop {
                min-height: 80rem;
            }
            @include desktop-large {
                min-height: 118rem;
            }
        }
    }
    &_title {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        font-weight: bold;
        font-size: 33rem;
        line-height: 34rem;
        margin: 0 0 4rem;
        @include tablet {
            font-size: 23rem;
            line-height: 25rem;
            margin-bottom: 6rem;
        }
        @include desktop {
            font-size: 36rem;
            line-height: 40rem;
            margin-bottom: 8rem;
        }
        @include desktop-large {
            font-size: 51rem;
            line-height: 52rem;
            margin-bottom: 10rem;
        }

        &__small {
            @include tablet {
                font-size: 16rem;
                line-height: 18rem;
            }
            @include desktop {
                font-size: 22rem;
                line-height: 28rem;
            }
            @include desktop-large {
                font-size: 36rem;
                line-height: 42rem;
            }
        }
        &__big {
            @include tablet {
                font-size: 31rem;
                line-height: 24rem;
            }
            @include desktop {
                font-size: 50rem;
                line-height: 40rem;
            }
            @include desktop-large {
                font-size: 72rem;
                line-height: 50rem;
            }
        }

        .spectacle__big & {
            @include tablet {
                font-size: 46rem;
                line-height: 48rem;
                margin-bottom: 30rem;
            }
            @include desktop {
                font-size: 66rem;
                line-height: 66rem;
                margin-bottom: 34rem;
            }
            @include desktop-large {
                font-size: 90rem;
                line-height: 86rem;
                margin-bottom: 56rem;
            }

            &__small {
                @include tablet {
                    font-size: 31rem;
                    line-height: 32rem;
                }
                @include desktop {
                    font-size: 50rem;
                    line-height: 52rem;
                }
                @include desktop-large {
                    font-size: 64rem;
                    line-height: 66rem;
                }
            }
            &__big {
                @include tablet {
                    font-size: 55rem;
                    line-height: 48rem;
                }
                @include desktop {
                    font-size: 86rem;
                    line-height: 86rem;
                }
                @include desktop-large {
                    font-size: 123rem;
                    line-height: 90rem;
                }
            }
        }
        .spectacle__line & {
            margin-bottom: 12rem;
        }
    }
    &_description {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        font-weight: bold;
        font-size: 12rem;
        line-height: 18rem;
        margin: 0 0 22rem;
        @include tablet {
            font-size: 11rem;
            line-height: 16rem;
            margin: 0 0 10rem;
        }
        @include desktop {
            font-size: 14rem;
            line-height: 20rem;
            margin-bottom: 2rem;
        }
        @include desktop-large {
            margin-bottom: 22rem;
        }

        .spectacle__big & {
            @include tablet {
                grid-row: 3 / 4;
                grid-column: 1 / 2;
                font-size: 11rem;
                line-height: 16rem;
            }
            @include desktop {
                font-size: 14rem;
                line-height: 20rem;
                margin-bottom: 22rem;
            }
            @include desktop-large {
                margin-bottom: 16rem;
            }
        }
    }

    &_adress,
    &_duration {
        color: $color;
        display: inline-block;
        margin: 0 0 10rem 16rem;
        font-size: 12rem;
        line-height: 16rem;
        text-decoration: none;
        position: relative;
        @include tablet {
            font-size: 11rem;
            line-height: 14rem;
            margin-bottom: 14rem;
        }
        @include desktop {
            font-size: 14rem;
            line-height: 18rem;
            margin-bottom: 18rem;
        }
        @include desktop-large {
            margin-bottom: 20rem;
        }

        .spectacle__big & {
            @include tablet {
                margin-bottom: 0;
            }
            @include desktop {
                margin-bottom: 0;
            }
            @include desktop-large {
                margin-bottom: 0;
            }
        }
        .spectacle__line & {
            margin-left: 20rem;
            @include tablet {
                display: inline-block;
                margin-right: 12rem;
                margin-bottom: 2rem;
            }
            @include desktop {
                margin-right: 60rem;
            }

            &::before {
                left: -20rem;
            }
        }
    }
    &_adress {
        border-bottom: 1rem dashed currentColor;

        &::before {
            content: '';
            background: url(#{$img}/adress.svg) no-repeat center center / 100% auto;
            position: absolute;
            left: -16rem;
            top: 2rem;
            height: 13rem;
            width: 11rem;
            @include tablet {
                height: 11rem;
                width: 9rem;
            }
            @include desktop {
                height: 12rem;
                width: 10rem;
                top: 4rem;
            }
            @include desktop-large {
                height: 18rem;
                width: 14rem;
                top: 2rem;
            }
        }
        &::after {
            display: none;
        }

        .spectacle__line & {
            margin-bottom: 0;
        }
    }
    &_duration {
        &::before {
            content: '';
            background: url(#{$img}/clock-dark.svg) no-repeat center center /  auto 100%;
            position: absolute;
            left: -16rem;
            top: 2rem;
            height: 11rem;
            width: 11rem;
            @include tablet {
                height: 9rem;
                width: 9rem;
            }
            @include desktop {
                height: 12rem;
                width: 12rem;
                top: 4rem;
            }
            @include desktop-large {
                height: 14rem;
                width: 14rem;
                top: 2rem;
            }

            .spectacle__line & {
                left: -21rem;
            }
        }
    }
    &_creators {
        font-size: 12rem;
        line-height: 16rem;
        @include tablet {
            font-size: 11rem;
            line-height: 15rem;
        }
        @include desktop {
            font-size: 14rem;
            line-height: 20rem;
        }
        @include desktop-large {
            font-size: 14rem;
            line-height: 20rem;
        }
    }
    &_creators-line {
        display: block;
    }
    &_info {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        padding: 0 24rem 0 0;
        position: relative;
        @include tablet {
            grid-row: 4 / 5;
            grid-column: 1 / 3;
            margin: 0 0 20rem;
            max-width: 420rem;
        }
        @include desktop {
            max-width: 540rem;
            padding-right: 40rem;
        }
        @include desktop-large {
            max-width: 640rem;
        }

        .spectacle__big & {
            @include tablet {
                display: contents;
                padding-right: 50rem;
            }
        }
        .spectacle__alternate & {
            padding: 0;
        }
        .spectacle__line & {
            margin: 0;
        }
    }
    &_info-column {
        @include tablet {
            position: relative;
            width: 50%;
        }

        .spectacle__big & {
            @include tablet {
                grid-row: 4 / 5;
                grid-column: 1 / 2;
                width: auto;
                margin: 0 0 20rem;
            }
            &:nth-child(2) {
                @include tablet {
                    grid-row: 3 / 5;
                    grid-column: 2 / 3;
                    padding-right: 30rem;
                }
            }
        }
    }
    &_info-rating {
        font-size: 12rem;
        line-height: 16rem;
        position: absolute;
        top: 0;
        right: 0;
        @include tablet {
            font-size: 11rem;
            top: auto;
            bottom: 5rem;
        }
        @include desktop {
            bottom: 7rem;
            font-size: 14rem;
            line-height: 18rem;
        }

        .spectacle__alternate & {
            top: auto;
            bottom: 1rem;
        }
        .spectacle__line & {
            top: auto;
            bottom: 10rem;
            @include tablet {
                bottom: 0;
            }
        }
    }
    &_controls {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        margin: 0 0 0 18rem;
        text-align: center;
        @include tablet {
            grid-row: 5 / 6;
            grid-column: 1 / 3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
        }

        .spectacle__big & {
            @include tablet {
                display: contents;
                padding-right: 50rem;
            }
        }
    }
    &_controls-column {
        @include tablet {
            width: 50%;
            text-align: left;
        }

        .spectacle__big & {
            @include tablet {
                grid-row: 5 / 6;
                grid-column: 1 / 2;
            }

            &:nth-child(2) {
                @include tablet {
                    grid-row: 5 / 6;
                    grid-column: 2 / 3;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    &_button {
        @include button;
        margin: 0 0 12rem;
        @include tablet {
            margin: 0;
            min-width: 106rem;
        }
        @include desktop {
            min-width: 190rem;
        }
        @include desktop-large {
            min-width: 266rem;
        }

        .spectacle__alternate & {
            margin-top: 3rem;
            white-space: normal;
        }
        .spectacle__line & {
            margin: 0;
            @include tablet {
                margin: 12rem 0;
            }
        }
    }
    &_more-info {
        display: block;
        color: $bright_color;
        font-size: 14rem;
        line-height: 18rem;
        text-align: center;
        @include tablet {
            font-size: 12rem;
            line-height: 24rem;
        }
        @include desktop {
            font-size: 16rem;
            line-height: 24rem;
        }
        @include desktop-large {
            font-size: 20rem;
            line-height: 24rem;
        }

        .spectacle__big & {
            @include tablet {
                text-align: left;
            }
        }
        .spectacle__alternate & {
            display: inline-block;
            margin: 8rem 0 0;
        }
        .spectacle__line & {
            @include tablet {
                line-height: 1.3;
                order: 3;
            }
        }

        &::after {
            display: none;

            .spectacle__alternate &,
            .spectacle__line & {
                display: block;
            }
        }
    }
    &_bottom {
        border-top: 1rem dashed #9b9b9b;
        padding: 16rem 0 0;
        margin: 16rem 0 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include desktop {
            padding-top: 26rem;
            margin-top: 26rem;
        }

        .spectacle__line & {
            align-items: flex-end;
            padding: 0;
            border: none;
            @include tablet {
                flex-direction: column;
                justify-content: center;
                align-items:  center;
                text-align: center;
                flex-shrink: 0;
                padding: 0 0 0 36rem;
                border-left: 1rem dashed #9B9B9B;
                margin: 0;
            }
        }
    }
    &_bottom-info {
        padding-right: 30rem;
        @include tablet {
            padding-right: 20rem;
        }
        @include desktop {
            padding-right: 30rem;
        }

        .spectacle__line & {
            @include tablet {
                display: contents;
            }
        }
    }
    &_bottom-date {
        display: block;
        font-weight: bold;
        font-size: 14rem;
        line-height: 20rem;
        @include tablet {
            font-size: 11rem;
            line-height: 16rem;
        }
        @include desktop {
            font-size: 14rem;
            line-height: 24rem;
        }
    }
    &_content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @include tablet {
            flex-wrap: nowrap;
            flex-grow: 1;
            justify-content: space-between;
        }
    }
    &_content-column {
        width: 100%;
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 16rem 34rem 0 0;
        }
        @include desktop {
            padding: 25rem 100rem 0 0;
        }
        @include desktop-large {
            padding: 25rem 140rem 0 0;
        }
    }
}
