.spectacle-date {
    background: rgba(227, 227, 227, 0.3);
    color: #4A4A4A;
    font-size: 14rem;
    line-height: 20rem;
    font-weight: bold;
    padding: 35rem $layout_indent 15rem;
    margin: 0 -#{$layout_indent};
    border-top: 2px solid #9B9B9B;
    @include tablet {
        font-size: 12rem;
        line-height: 20rem;
        padding: 18rem 22rem 12rem;
        margin: 0 -22rem;
    }
    @include desktop {
        font-size: 16rem;
        line-height: 20rem;
        padding: 38rem 36rem 22rem;
        margin: 0 -36rem;
    }
    @include desktop-large {
        font-size: 22rem;
        line-height: 20rem;
        padding: 58rem 50rem 38rem;
        margin: 0 -50rem;
    }

    &__today {
        border: none;
        color: $bright_color;
    }

    span {
        display: block;
        @include tablet {
            display: inline;
        }

        span {
            &::before {
                @include tablet {
                    content: ', ';
                }
            }
        }
    }
}
