.tickets {
    background: rgba(0, 0, 0, 0.03);
    margin: 0 0 32rem;
    padding: 8rem 16rem 20rem;
    @include tablet {
        padding: 21rem 14rem 21rem 21rem;
    }
    @include desktop {
        padding: 30rem 34rem;
    }
    @include desktop-large {
        padding: 48rem;
    }

    &_title {
        font-weight: bold;
        font-size: 14rem;
        line-height: 20rem;
        display: block;
        @include tablet {
            font-size: 14rem;
            line-height: 20rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 28rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 40rem;
        }
    }
    &_price {
        font-weight: 300;
        font-size: 8rem;
        line-height: 14rem;
        color: #9b9b9b;
        @include tablet {
            font-size: 10rem;
            line-height: 28rem;
        }
        @include desktop {
            font-size: 14rem;
            line-height: 28rem;
        }
        @include desktop-large {
            font-size: 20rem;
            line-height: 28rem;
        }
    }
    &_time {
        display: block;
    }
    &_button {
        width: 100%;
        background: transparent;
        color: $bright_color;
        padding: 14rem 20rem 16rem;
        margin: 5rem 0 10rem;
        transition: .2s ease-in-out all;
        @include tablet {
            margin-top: 7rem;
            height: 45rem;
            line-height: 13rem;
        }
        @include desktop {
            margin-top: 12rem;
            height: 76rem;
            min-width: 138rem;
            line-height: 42rem;
        }
        @include desktop-large {
            margin-top: 16rem;
            height: 108rem;
            line-height: 70rem;
            min-width: 190rem;
        }

        &:hover,
        &:active {
            background: $bright_color;
            color: $light_color;
            box-shadow: none;
        }
    }
    &_more {
        color: $color;
        background: transparent;
        padding: 0 20rem 0 0;
        border: none;
        font-weight: bold;
        font-size: 14rem;
        line-height: 20rem;
        margin: 5rem 0 0;
        position: relative;
        @include tablet {
            font-size: 14rem;
            line-height: 20rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 28rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 40rem;
        }

        &:hover {
            background: transparent;
            box-shadow: none;
        }
        &:active {
            background: transparent;
            box-shadow: none;
        }
    }
    &_more-arrow {
        position: absolute;
        right: 0;
        top: 50%;
        height: 10rem;
        width: 10rem;
        background: url(#{$img}/arrow-down.svg) no-repeat right center;
        transform: translateY(-50%);
        transition: .2s ease-in-out transform;

        .tickets_more:hover & {
            transform: scale(1.15) translateY(-30%);
        }
        .tickets_more:active & {
            transform: scale(1) translateY(-30%);
        }
    }
    &_unavailible {
        display: block;
        font-size: 14rem;
        line-height: 20rem;
        text-align: center;
        color: #9b9b9b;
        padding: 0 10rem;
        @include tablet {
            padding: 0 2rem;
            font-size: 12rem;
            line-height: 22rem;
        }
        @include desktop {
            font-size: 18rem;
            line-height: 28rem;
        }
        @include desktop-large {
            font-size: 26rem;
            line-height: 42rem;
        }
    }

    &_row {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        &__hidden {
            display: none;
        }
    }

    &_cell {
        padding: 7rem 50rem 7rem 0;
        vertical-align: top;
        @include tablet {
            padding: 12rem 14rem 12rem 0;
        }
        @include desktop {
            padding: 15rem 28rem 15rem 0;
        }
        @include desktop-large {
            padding: 23rem 40rem 23rem 0;
        }

        span {
            white-space: nowrap;
            display: block;
        }

        & + & {
            text-align: right;
            padding-right: 0;
            display: flex;
        }
    }

    &_adress {
        display: block;
        color: $bright_color;
        font-size: 14rem;
        line-height: 22rem;
        position: relative;
        box-sizing: border-box;
        @include desktop {
            font-size: 22rem;
            line-height: 32rem;
        }
        @include desktop-large {
            font-size: 32rem;
            line-height: 48rem;
        }
    }
    &_duration {
        padding-right: 40rem;
        padding-left: 27rem;
        @include desktop {
            padding-left: 50rem;
            padding-right: 60rem;
        }
        @include desktop-large {
            padding-left: 72rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 3rem;
            left: 0;
            width: 20rem;
            height: 20rem;
            background: url(#{$img}/clock.svg) no-repeat 0 0 / contain;
            @include desktop {
                width: 34rem;
                height: 34rem;
                background-size: 100% auto;
            }
            @include desktop-large {
                width: 48rem;
                height: 48rem;
            }
        }
    }
    &_adress {
        font-size: 14rem;
        padding-left: 18rem;
        display: block;
        margin: 0 0 16rem;
        @include tablet {
            font-size: 18px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 5rem;
            left: 0;
            width: 10rem;
            height: 13rem;
            background: url(#{$img}/marker.svg) no-repeat 0 0 / contain;
            filter: grayscale(1) brightness(0.5);
            transition: .2s ease-in-out transform, .2s ease-in-out filter;
            @include tablet {
                top: 12rem
            }
            @include desktop {
                top: 10rem;
            }
            @include desktop-large {
                width: 12rem;
                height: 15rem;
                top: 17rem;
            }
        }
        &:hover::before {
            filter: none;
            transform: scale(1.15);
        }
    }
    &_adress-link {
        color: $color;
        border-bottom: 1rem dashed currentColor;
        transition: .2s ease-in-out color;

        &::after {
            display: none;
        }
        .tickets_adress:hover &,
        .tickets_adress:active & {
            color: $bright_color;
        }
    }
}
